.zh-fade(style='opacity: 1;')
	#chunk_746006.ghei_chunk
		div
		div
			.newStyle
				style.
					#herobanner {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/ISV/20200116/herobanner-small.jpg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 125vw;
					}
					@media (min-width: 640px) {
					#herobanner {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/ISV/20200116/herobanner-large.jpg);
					height: 100vw;
					}
					}
					@media (min-width: 1024px) {
					#herobanner {
					height: 42.1875vw;
					}
					}
				.container.bg-white
					#herobanner.container.max-width-f
						.container.max-width-c
							.row.gutter
								.col.gutter.a-12.b-10.b-offset-1
									h1.fs-4.bold.align-center.text-primary-light.margin-top-xl
										span#placeholder_620139.ghei_placeholder What is an ISV?
									p.fs-1.align-center.text-primary-light
										span#placeholder_620140.ghei_placeholder
											| An ISV or Independent Software Vendor is also known as the software developer. These are the companies which write and distribute the software applications.