.zh-fade(style='opacity: 1;')
	#chunk_746007.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-c
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1.padding-top-l.padding-bottom-l
								h2.fs-2.bold.align-center.text-primary-dark
									span#placeholder_620141.ghei_placeholder Benefits of Independent Software Verification
								p.fs-0.align-center
									span#placeholder_620142.ghei_placeholder
										| To provide creators of all levels with the confidence that their ConceptD devices will work with the software they use most frequently, Acer has setup a rigorous testing process and ISV certification program. This level of commitment to ConceptD devices engineering ensures that you can be sure that no matter what you need to create, your work will be delivered in the finest possible manner.