.zh-fade(style='opacity: 1;')
	#chunk_746008.ghei_chunk
		div
		div
			.newStyle
				style.
					#isv-tiles .isv-tile-inner {
					background-color: #fff;
					height: 100%;
					padding: 1rem 1.5rem;
					}
				.container.bg-gray-1
					.container.max-width-d
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1
								h2.fs-2.bold.align-center.text-primary-dark
									span#placeholder_620143.ghei_placeholder ISV Partners
						#isv-tiles.row.-flex.-jc-c.padding-xs.margin-bottom-xl
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200116/isv-adobe.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_620144.ghei_placeholder Adobe
									p.fs-0.text-primary-dark
										span#placeholder_620145.ghei_placeholder
											| Acer's ConceptD devices have been engineered to maximize the efficiency of the entire Adobe Creative Cloud.
									// <p class="fs-0"><a class="text-primary-orange no-underline" target="_blank" href="#"><span class="ghei_appMessage" id="appMessage_Learn More">Learn more</span> &gt;</a></p>
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200513/isv-autodesk.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_668681.ghei_placeholder Autodesk
									p.fs-0.text-primary-dark
										span#placeholder_668682.ghei_placeholder
											| Autodesk makes software for people who make things. Across the manufacturing, architecture, building, construction, media, and entertainment industries, Autodesk gives you the power to make anything.
											sup 1
									p.fs-0
										a.text-primary-orange.no-underline(target='_blank', href='https://www.autodesk.com/buy-online?mktvar002=afc_us_deeplink&AID=10282382&PID=9215206&cjevent=04bd51267a2911ea805d00260a18050d&affname=9215206_10282382')
											span#appMessage_Explore.ghei_appMessage Explore
											|  ›
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200116/isv-keyshot.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_620146.ghei_placeholder Luxion
									p.fs-0.text-primary-dark
										span#placeholder_620147.ghei_placeholder
											| Cinematic level rendering requires powerful workstations and many ConceptD devices have been tested to maximize workflows in 3D creation.
									// <p class="fs-0"><a class="text-primary-orange no-underline" target="_blank" href="#"><span class="ghei_appMessage" id="appMessage_Learn More">Learn more</span> &gt;</a></p>
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200116/isv-ptc.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_620148.ghei_placeholder PTC
									p.fs-0.text-primary-dark
										span#placeholder_620149.ghei_placeholder
											| Testing and verifying ConceptD devices for use with 3D CAD, CAM and CAE software provides the confidence that workflows are carried out smoothly and efficiently.
									// <p class="fs-0"><a class="text-primary-orange no-underline" target="_blank" href="#"><span class="ghei_appMessage" id="appMessage_Learn More">Learn more</span> &gt;</a></p>
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200513/isv-altair2.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_620150.ghei_placeholder Altair
									p.fs-0.text-primary-dark
										span#placeholder_620151.ghei_placeholder
											| Simulating all types of engineering needs machines that have been tested and verified to manage many simultaneous workflows. ConceptD meets these requirements.
									// <p class="fs-0"><a class="text-primary-orange no-underline" target="_blank" href="#"><span class="ghei_appMessage" id="appMessage_Learn More">Learn more</span> &gt;</a></p>
							.col.a-12.b-6.c-4.padding-xs.-flex
								.isv-tile-inner
									img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200316/isv-ansys2.jpg')
									h3.fs-1.bold.text-primary-dark
										span#placeholder_620152.ghei_placeholder ANSYS
									p.fs-0.text-primary-dark
										span#placeholder_620153.ghei_placeholder
											| Computer Aided Simulation software requires powerful processing and many ConceptD computers have been tested and verified to manage many simultaneous workflows.
									// <p class="fs-0"><a class="text-primary-orange no-underline" target="_blank" href="#"><span class="ghei_appMessage" id="appMessage_Learn More">Learn more</span> &gt;</a></p>