.zh-fade(style='opacity: 1;')
	#chunk_800728.ghei_chunk
		div
		div
			.newStyle
				style.
					#disclaimerlist {
					list-style-type: decimal;
					text-align: left;
					}
					#disclaimerlist li a {
					color: inherit;
					display: inline;
					font-size: inherit;
					}
					footer .newStyle .bg-cd-gray-2,
					#footerNavigation {
					background-color: #25282a;
					}
				.container(style='background-color: #54585a')
					.container.max-width-d.padding-top-m.padding-bottom-m
						.row.gutter
							.col.a-12.gutter
								ol#disclaimerlist.fs--2.text-secondary-light
									li
										span#placeholder_668683.ghei_placeholder
											| Acer is an Autodesk affiliate partner. For more information on Acer device support of specific Autodesk software, please refer to Autodesk’s system requirements on their webpage.