.newStyle
	.container.secondLevelMenu.zh-menuSec
		.container.max-width-d
			.row.gutter
				.col.a-12.c-4.gutter.seriesName
					a.fs--1.text-tertiary-dark.no-underline.float-left(title='ConceptD CP5', href='#') ConceptD CP5
					i.icon.icon-ai-arrow-down.align-center.iconCta.text-tertiary-dark
				.col.a-12.c-8.gutter.seriesNav
					nav
						ul
							li
								a.zh-anchor.fs--1.text-tertiary-dark.no-underline(title='Display', href='#764758') Display
							li
								a.zh-anchor.fs--1.text-tertiary-dark.no-underline(title='Technology', href='#764765') Technology
							li
								a.zh-anchor.fs--1.text-tertiary-dark.no-underline(title='Features', href='#764767') Features
.newStyle
	.newStyle
		style.
			@media screen and (min-width: 0em) and (max-width: 39.999em) {
			#area764752.flexBox .flexContent.over {
			top: 16px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 40em) and (max-width: 63.999em) {
			#area764752.flexBox .flexContent.over {
			top: 16px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 64em) and (max-width: 89.999em) {
			#area764752.flexBox .flexContent.over {
			top: 32px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 90em) and (max-width: 119.999em) {
			#area764752.flexBox .flexContent.over {
			top: 32px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 120em) and (max-width: 159.999em) {
			#area764752.flexBox .flexContent.over {
			top: 32px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 160em) {
			#area764752.flexBox .flexContent.over {
			top: 32px;
			transform: translateY(0)
			}
			}
		.container.bg-white
			#area764752.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/concept_CP5_main.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/concept_CP5_main.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/concept_CP5_main.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/concept_CP5_main_1024.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/concept_CP5_main_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
				.flexContent.over.container.max-width-d
					.row
						.col.a-offset-0.a-12
							h2.bold.fs-4.text-primary-dark.align-center ConceptD CP5
							.col.a-12
								a.hidden.zh-buyModal.fs-2.text-primary-orange.no-underline.float-none.inline-block.align-center(href='#') Buy Now >
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764747.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								p.fs-1.text-primary-dark.align-center.margin-top-l.margin-bottom-l
									| Create and view designs, videos, and animations in incredible detail with a ConceptD CP5 series monitor. Achieve professional-levels of color fidelity with the PANTONE
									sup ®
									|  Validated display, a 99% Adobe
									sup ®
									|  RGB gamut
									sup 1
									| , and Delta E <1
									sup 1
									|  color accuracy. Combined with Vesa Certified DisplayHDR 600 and an overclockable refresh rate of up to 170Hz
									sup 1
									|  for blur-free images, a high quality viewing experience is guaranteed.
.newStyle
	.newStyle
		.container.bg-white
			#area764753.flexBox.align-center
				.flexBg.container.max-width-e
					.flexContent.container.max-width-c
						.row.padding-top-m
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_AE_Delta_E1.jpg')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_Pantone_validated.jpg')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_WQHD.jpg')
.newStyle
	.newStyle
		.container.bg-white
			#area764748.flexBox.align-center
				.flexBg.container.max-width-e
					.flexContent.container.max-width-c
						.row.padding-bottom-m
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_Refresh_Rate-170Hz.jpg')
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_Adobe RGB-99.jpg')
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/logo_DisplayHDR_600.jpg')
.newStyle
	#764758
	#Display.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#display.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764759.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Outstanding HDR Experience
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Experience realistic, natural images through the expanded contrast ratio and color palette guaranteed by VESA Certified DisplayHDR™ 600. Create images with improved brightness and contrast with darker blacks and whiter whites with greater depth and shadowing.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764760.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-m
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_01.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_01.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_01.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_01.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_01_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764763.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Wide Color Gamut
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Get brighter and more lifelike colors with Adobe RGB 99% color gamut’s extended color range. Adobe RGB is an international color standard used by directors and producers and ConceptD CP5 series monitors are designed to match this professional-grade quality, making them ideal for high-level editing of imagery and photography.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764754.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-m
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_02.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_02.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_02.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_02.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_02_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764764.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Perfect Colors
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| An artist should have confidence in their tools. With Delta E <1 color accuracy and a PANTONE
									sup ®
									|  Validated display, ConceptD CP5 monitors are backed up by color technologies that ensure vivid, true-to-life color reproduction.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764749.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-m
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764766.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-top-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03-1.png')
								h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s
									| Delta E <1
									sup 1
								p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
									| The display has been tested and calibrated to achieve a low Delta E average of <1 to reproduce true-to-life color accuracy.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03-2.png')
								h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s
									| PANTONE
									sup ®
									|  Validated
								p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
									| Get a professional edge with a display that features integrated color correction and has demonstrated superior fidelity in reproducing the PANTONE Matching System (PMS) Colors.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_03-3.png')
								h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s 3D Lookup Tables
								p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
									| Get professional color grading for digital and video. 3D lookup tables (3D LUTs) map one color space to another in order to ensure faithful color reproduction.
.newStyle
	#764765
	#Technology.m_ksp.newStyle.zh-fade.zh-acerModule
		.container.bg-gray-1
			.container.max-width-f
				.row
					#technology.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764761.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Seamless Viewing
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Creativity should never be limited, and once you’ve worked on this 27” WQHD IPS display
									sup 1
									| , you’ll never settle for less. Along with an overclockable refresh rate of up to 170Hz, ConceptD CP5 series monitors give you an ultra-smooth viewing and creation experience.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area764755.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-l
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_04.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_04.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_04.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_04.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_04_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-white
			#area764750.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s A Single Port to Do It All
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Easily extend the display of your laptop or mobile device, transfer data, and charge it at the same time using a single cable with the integrated USB Type-C port.
.newStyle
	.newStyle
		.container.bg-white
			#area764756.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-m
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_05.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_05.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_05.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_05.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_05_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	#764767
	#Features.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#features.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-white
			#area764751.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Designed for Creators
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| With its timeless design, ConceptD monitors easily adorn any workplace, adding a touch of class with the natural appearance of the stand base. This monitor comes with plenty of ports, a built-in light sensor
									sup 1
									| , and a light shielding hood
									sup 1
									| , meaning it’s equipped for professional design work.
.newStyle
	.newStyle
		.container.bg-white
			#area764762.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-12.margin-bottom-m
								.media-flex
									img#comp-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06_640.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-white
			#area764757.flexBox.align-left.a-align--center
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row
							.col.b-offset-0.b-6.padding-m
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06-1.jpg')
								h4.bold.fs-2.text-primary-dark.align-left.a-align--center.padding-m.padding-bottom-0.padding-top-s Smart Light Sensor
								p.fs-0.text-primary-dark.align-left.a-align--center.margin-0.padding-m.padding-top-0
									| Enjoy a consistently comfortable visual experience thanks to the built-in ambient light sensor
									sup 1
									| . This automatically measures the brightness of the environment and adjusts the backlight accordingly, reducing eye strain.
							.col.b-offset-0.b-6.padding-m
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Monitors/ConceptD_CP5/Overview/20200316/ConceptD_CP5_ksp_06-2.jpg')
								h4.bold.fs-2.text-primary-dark.align-left.a-align--center.padding-m.padding-bottom-0.padding-top-s Shaded for Accuracy
								p.fs-0.text-primary-dark.align-left.a-align--center.margin-0.padding-m.padding-top-0
									| Focus in on your design work with the light-shielding hood
									sup 1
									| , which ensures ambient light is blocked and you see colors more accurately. The hood reduces glare, helps relieve eye fatigue, and gives you some added privacy when you need to work on confidential projects.
.newStyle
	#footnotes.bg-cd-gray-2
		.container.footerContainer.max-width-d
			.row.gutter
				.col.gutter.a-12.margin-top-m.margin-bottom-m
					p.text-tertiary-light
						sup 1
						|  - Specifications may vary depending on model and/or region
.newStyle
	.container.modal.clm-modal.zh-clm-modal.zh-close-modal
		.container.max-width-d
			.row.gutter.modalContent.zh-modalContent.bg-white
				.col.a-12.gutter.padding-top-xl.padding-bottom-xl
					p.zh-clm-noPn.clm-noPn.align-center No Sellers Available
					#sd-box-loghi.zh-box-loghi.col.a-12(data-market='', data-skulist='null', data-apiid='1d03f0a3-51e0-4f75-908f-526e94299bad')
						.col.a-12.c-8.c-offset-2.align-center.gutter-half.zh-template
							a.zh-link.no-underline(href='#1', target='blank')
								.sd-logo
									img.zh-logo.centerImage(src='', alt='image', title='image')
									img.zh-trackPixel(src='', alt='imageTP', title='imageTP')
								.sd-description
									p.text-secondary-dark.text-l.margin-top-0.store-price.zh-store-price
									p.text-tertiary-dark.hide-a-only.hide-b-only.store-descr.zh-store-descr Buy on Acer Store
							.sd-price
								p.zh-price.price.text-tertiary-dark.align-center
				a.heading-xl.close.no-underline.zh-close-clm.margin-0(href='#')
					i.text-secondary-dark.icon.icon-ai-close
