.newStyle
	.newStyle
		style.
			@media screen and (min-width: 0em) and (max-width: 39.999em) {
			#area752469.flexBox .flexContent.over {
			top: 0px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 40em) and (max-width: 63.999em) {
			#area752469.flexBox .flexContent.over {
			top: 30px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 64em) and (max-width: 89.999em) {
			#area752469.flexBox .flexContent.over {
			top: 80px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 90em) and (max-width: 119.999em) {
			#area752469.flexBox .flexContent.over {
			top: 80px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 120em) and (max-width: 159.999em) {
			#area752469.flexBox .flexContent.over {
			top: 200px;
			transform: translateY(0)
			}
			}
			@media screen and (min-width: 160em) {
			#area752469.flexBox .flexContent.over {
			top: 300px;
			transform: translateY(0)
			}
			}
		.container.bg-white
			#area752469.flexBox.align-left.a-align-center
				.flexBg.container.max-width-f
					.media-flex
						img#herobanner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_main_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_main_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_main_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_main_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_main_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
				.flexContent.over.container.max-width-d
					.row
						.col.a-12.padding-m
							h2.bold.fs-4.text-secondary-light.align-left.a-align-center ConceptD 700
							p.bold.fs-5.text-primary-light.align-left.a-align-center Built to Create
							.col.a-12
								a#lb_lightbox1.fs-2.text-primary-orange.no-underline.float-left.a-float-none.inline-block.align-center.zh-lightbox-cta(href='vi/VN/content/conceptd-series') Watch Video >
							.col.a-12
								a.hidden.zh-buyModal.fs-2.text-primary-orange.no-underline.float-left.a-float-none.inline-block.align-center(href='#') Buy Now >
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752484.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								p.fs-1.text-primary-dark.align-center.margin-top-l.margin-bottom-l
									| The elegantly designed ConceptD 700 combines the latest Intel
									sup ®
									|  Xeon
									sup ®
									|  CPU and NVIDIA
									sup ®
									|  Quadro RTX™ graphics, to deliver powerful, reliable computing performance for 3D modeling, photorealistic visualization, and feature length video production.
.newStyle
	.newStyle
		.container.bg-white
			#area752477.flexBox.align-center
				.flexBg.container.max-width-e
					.flexContent.container.max-width-c
						.row.padding-top-m.padding-bottom-m
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/icon/20200217/icon_Intel® xeon.jpg')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/icon/20200217/icon_NVIDIA® Quadro™.jpg')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/icon/20200217/icon_Intel® Optane™.jpg')
.newStyle
	.newStyle
		.container.bg-white
			#area752485.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-4.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Awards/20200221/2020_iF_Award_Logo_297x155.jpg')
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white  
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-0.margin-bottom-0
								.bg-white
									p.fs-0.text-primary-dark.align-left.margin-0.padding-0.padding-top-0
									#conceptd700award
									script.
										document.getElementById('conceptd700award').parentNode.parentNode.parentNode.innerHTML = '<div class="flexContent container max-width-d "><div class="row    "><div class="col a-offset-0 b-offset-2 c-offset-2 a-12 b-8 c-4 padding-left-s padding-right-s margin-top-s margin-bottom-s"> <div class="bg-white"> <div class="media-flex"> <a id="award1a" href=""><img alt="" title="" id="comp-col2" class=" centerImage" src="//static.acer.com/up/Resource/Acer/Awards/20200221/2020_iF_Award_Logo_297x155.jpg"></a> </div> </div></div><div class="col a-offset-0 b-offset-2 c-offset-0 a-12 b-8 c-4 padding-left-s padding-right-s margin-top-s margin-bottom-s"> <div class="bg-white"> <div class="media-flex"> <a id="award2a" href=""><img alt="" title="" id="comp-col2" class=" centerImage" src="//static.acer.com/up/Resource/Acer/Awards/20200410/reddot-winner-2020_297x155.jpg"></a> </div> </div></div><div id="conceptd700award"></div></div></div>';
										var awardurl = window.location.pathname.slice(4, 18) + 'awards';
										document.getElementById('award1a').href = awardurl;
										document.getElementById('award2a').href = awardurl;
										document.getElementById('award3a').href = awardurl;
									p
.newStyle
	#752466
	#Power.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#power.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752480.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Optimal Performance Workstation
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Optimized for 2D/3D CAD, BIM design and photorealistic models in real-time, the ConceptD 700 is powered by the latest Intel
									sup ®
									|  Xeon
									sup ®
									|  processor with 3.7 GHz, 8 cores 16 threads, and optional Optane™ memory. Combined with the Intel
									sup ®
									|  Xeon
									sup ®
									|  processor’s ECC memory support, the ConceptD 700 provides the speed and system reliability that professional creators demand in addition to the high performance needed for large CAD, BIM, and video production workloads.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752486.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp1-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_01.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_01.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_01.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_01.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_01_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752467.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#lifestyle.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_01_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_01_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_01_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_01_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_01_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	#752470
	#Graphics.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#graphics.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752481.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Create Without Boundaries
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Supporting a maximum of an NVIDIA
									sup ®
									|  Quadro RTX™ 4000
									sup 1
									|  graphics, the ConceptD 700 provides unmatched power for unmatched creative freedom in areas like 3D modeling design and visualization AI-powered workflows. Enjoy greater fluidity with photorealistic ray-tracing; experience faster performance with AI-enabled applications and create detailed, lifelike VR experiences.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752487.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp2-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752478.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02-01.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Amazing Performance
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| NVIDIA
										sup ®
										|  Turing™ architecture combined with NVIDIA
										sup ®
										|  RTX™ technology brings real-time ray-tracing to professional workstation users.
									#ksp2col1p
									p
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02-02.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Advanced Display Features
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| Experience stunning image quality with the power to drive up to four 8K displays with HDR support via Display Port 1.4. HDR supports twice the visible colors for brighter, more saturated images.
									#ksp2col2p
									p
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_02-03.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Immersive VR
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| The Quadro RTX™ 4000 is specially designed with the performance that is necessary to drive immersive VR environments, enabling the most detailed, life-like VR experience possible.
									#ksp2col3p
									script.
										var ksp2col1title = document.getElementById("ksp2col1p").previousSibling.previousSibling.previousSibling;
										var ksp2col2title = document.getElementById("ksp2col2p").previousSibling.previousSibling.previousSibling;
										var ksp2col3title = document.getElementById("ksp2col3p").previousSibling.previousSibling.previousSibling;
										var ksp2col1p = document.getElementById("ksp2col1p").previousSibling;
										var ksp2col2p = document.getElementById("ksp2col2p").previousSibling;
										var ksp2col3p = document.getElementById("ksp2col3p").previousSibling;
										var ksp2col1titleheight = ksp2col1title.clientHeight;
										var ksp2col2titleheight = ksp2col2title.clientHeight;
										var ksp2col3titleheight = ksp2col3title.clientHeight;
										var ksp2col1pheight = ksp2col1p.clientHeight;
										var ksp2col2pheight = ksp2col2p.clientHeight;
										var ksp2col3pheight = ksp2col3p.clientHeight;
										function greatestof(number1, number2, number3) {
										var greater;
										var greatest;
										if (number1 > number2) {
										greater = number1;
										} else {
										greater = number2;
										}
										if (greater > number3) {
										greatest = greater;
										} else {
										greatest = number3;
										}
										return greatest;
										}
										function initialksp2() {
										ksp2col1title.style.height = 'auto';
										ksp2col2title.style.height = 'auto';
										ksp2col3title.style.height = 'auto';
										ksp2col1p.style.height = 'auto';
										ksp2col2p.style.height = 'auto';
										ksp2col3p.style.height = 'auto';
										}
										var ksp2titleheight, ksp2pheight;
										function getheightksp2() {
										ksp2titleheight = greatestof(ksp2col1title.clientHeight, ksp2col2title.clientHeight, ksp2col3title.clientHeight);
										ksp2pheight = greatestof(ksp2col1p.clientHeight, ksp2col2p.clientHeight, ksp2col3p.clientHeight);
										}
										function adjustheightksp2() {
										ksp2col1title.style.height = ksp2titleheight + 'px';
										ksp2col2title.style.height = ksp2titleheight + 'px';
										ksp2col3title.style.height = ksp2titleheight + 'px';
										ksp2col1p.style.height = ksp2pheight + 'px';
										ksp2col2p.style.height = ksp2pheight + 'px';
										ksp2col3p.style.height = ksp2pheight + 'px';
										}
										initialksp2();
										if (document.documentElement.clientWidth > 768) {
										getheightksp2();
										adjustheightksp2();
										}
										window.onresize = function() {
										if (document.documentElement.clientWidth > 768) {
										initialksp2();
										getheightksp2();
										adjustheightksp2();
										} else {
										initialksp2();
										}
										}
									p
.newStyle
	.newStyle
		.container.bg-white
			#area752463.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Optimized Quiet Cooling
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Processor intensive applications such as rendering and video production will cause the processor and GPU to run hot, therefore it’s essential that the cooling is the best it can be. The ConceptD 700 has optimal thermal, ventilation, airflow dynamics and is cooled using three cooling fans to draw the air in through the triangular front air panel and circulating it throughout the chassis. And yet, at just 40dBA it is still quiet enough to be unobtrusive.
.newStyle
	.newStyle
		.container.bg-white
			#area752475.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp3-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_03.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_03.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_03.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_03.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_03_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752476.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#lifestyle.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_02_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_02_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_02_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_02_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_02_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	#752464
	#Design.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#design.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752468.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Elegantly Honest
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Designed to fit into any modern studio, the ConceptD 700 has a round-cornered white minimalist design with a wood effect top and triangular front panel. Beyond the simple aesthetic is an array of thoughtful and practical functions, such as convenient wireless charging and an array of high speed connecting ports. At the front is an integrated amber light which gives a sense of warmth.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752471.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp4-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752482.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04-01.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Wireless Charging
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| Fast charge your modern Qi-compatible devices without the need to plug your device into a wall
									#ksp4col1p
									p
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04-02.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Headset Cradle
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| The thoughtfully designed push pop-out design gives freedom to use and tuck it away when not in use.
									#ksp4col2p
									p
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_04-03.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Cable Management
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0 Maintain clean and neat look from behind, sort messy cables.
									#ksp4col3p
									script.
										var ksp4col1title = document.getElementById("ksp4col1p").previousSibling.previousSibling.previousSibling;
										var ksp4col2title = document.getElementById("ksp4col2p").previousSibling.previousSibling.previousSibling;
										var ksp4col3title = document.getElementById("ksp4col3p").previousSibling.previousSibling.previousSibling;
										var ksp4col1p = document.getElementById("ksp4col1p").previousSibling;
										var ksp4col2p = document.getElementById("ksp4col2p").previousSibling;
										var ksp4col3p = document.getElementById("ksp4col3p").previousSibling;
										var ksp4col1titleheight = ksp4col1title.clientHeight;
										var ksp4col2titleheight = ksp4col2title.clientHeight;
										var ksp4col3titleheight = ksp4col3title.clientHeight;
										var ksp4col1pheight = ksp4col1p.clientHeight;
										var ksp4col2pheight = ksp4col2p.clientHeight;
										var ksp4col3pheight = ksp4col3p.clientHeight;
										function greatestof2(number1, number2, number3) {
											var greater;
											var greatest;
											if (number1 > number2) {
												greater = number1;
											} else {
												greater = number2;
											}
											if (greater > number3) {
												greatest = greater;
											} else {
												greatest = number3;
											}
											return greatest;
										}
										function initialksp4() {
										ksp4col1title.style.height = 'auto';
										ksp4col2title.style.height = 'auto';
										ksp4col3title.style.height = 'auto';
										ksp4col1p.style.height = 'auto';
										ksp4col2p.style.height = 'auto';
										ksp4col3p.style.height = 'auto';
										}
										var ksp4titleheight, ksp4pheight;
										function getheightksp4() {
										ksp4titleheight = greatestof2(ksp4col1title.clientHeight, ksp4col2title.clientHeight, ksp4col3title.clientHeight);
										ksp4pheight = greatestof2(ksp4col1p.clientHeight, ksp4col2p.clientHeight, ksp4col3p.clientHeight);
										}
										function adjustheightksp4() {
										ksp4col1title.style.height = ksp4titleheight + 'px';
										ksp4col2title.style.height = ksp4titleheight + 'px';
										ksp4col3title.style.height = ksp4titleheight + 'px';
										ksp4col1p.style.height = ksp4pheight + 'px';
										ksp4col2p.style.height = ksp4pheight + 'px';
										ksp4col3p.style.height = ksp4pheight + 'px';
										}
										initialksp4();
										if (document.documentElement.clientWidth > 768) {
										getheightksp4();
										adjustheightksp4();
										}
										window.onresize = function() {
										if (document.documentElement.clientWidth > 768) {
										initialksp4();
										getheightksp4();
										adjustheightksp4();
										} else {
										initialksp4();
										}
										}
									p
.newStyle
	.newStyle
		.container.bg-white
			#area752473.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Impressive Expandability
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Expandable workstation designed to grow with you to meet your ever-changing workload requirements. Quickly access and store massive amounts of data and files with flexible storages options.
.newStyle
	.newStyle
		#area752472.flexBox
			.flexBg.container
				.media-flex
					img#ksp5-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-white
			#area752479.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05-01.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Quicker Response
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| 4 x DIMM 2666 MHz DDR4 memory up to 64GB has more bandwidth and capacity. Experience fast performance when working on complex design tasks.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05-02.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Ultrafast PCIe Interface
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| Work with large models and render complex 3D models in real time with bigger, faster storage options include onboard PCIe M.2 SSD.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_05-03.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Tool-less HDD Drive
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| Quickly access and store massive amounts of data and files with two storage bays supporting 3.5” HDDs.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752474.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#lifestyle.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_03_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_03_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_03_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_03_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_lifestyle_03_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-white
			#area776896.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Independent Software Vendors (ISV)
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| To meet the demands of engineers, architects, videographers, cinematographers, 3D animators, AI professionals and many more, a hardware solution that has been tested and certified by Independent Software Vendors (ISVs) is demanded. ConceptD products, in specific model configurations, offer ISV certified hardware in combination with the most recent technologies.
.newStyle
	.newStyle
		.container.bg-white
			#area776955.flexBox.align-center
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20200525/isv-vendors-ConceptD700.png')
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20191112/isv-certification-logo.png')
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20200525/isv-software-ConceptD700.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752465.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s Secure and Manageable Workstation
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| The ConceptD 700 has a host of features designed to keep your data and machine safe from failure.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752488.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp6-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area752483.flexBox.align-left
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06-01.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Health Indicator Light
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| For quick trouble-shooting, the health indicator displays warning indications via the power button and amber LED light.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06-02.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s Intrusion Key Lock
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| The system comes with a lock and an intrusion alarm to prevent theft and unauthorized access.
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/ConceptD_700/Overview/20200217/ConceptD-700_ksp_06-03.jpg')
									h4.bold.fs-2.text-primary-dark.align-left.padding-m.padding-bottom-0.padding-top-s ConceptD Palette
									p.fs-0.text-primary-dark.align-left.margin-0.padding-m.padding-top-0
										| Quickly and easily monitor your system CPU, GPU, and memory usage through the intuitive ConceptD Palette.
.newStyle
	.newStyle
		.container.lightbox.lb_lightbox1.zh-lightbox.zh-close-modal
			.container.max-width-d
				.row
					.flexBg.container.max-width-c
						.flexContent.container
							.row
								.col.a-12.padding-0
									.col.a-12.padding-0
										.yt-videoContainer
											iframe.yt-videoContent(src='https://www.youtube.com/embed/zy-AvpvcB2I', frameborder='0', allowfullscreen='')
			a.no-underline.zh-lightbox-close.lbClose(href='#')
				i.icon.icon-ai-close
.newStyle
	#footnotes.bg-cd-gray-2
		.container.footerContainer.max-width-d
			.row.gutter
				.col.gutter.a-12.margin-top-m.margin-bottom-m
					p.text-tertiary-light
						sup 1
						|  - Specifications may vary depending on model and/or region. All models subject to availability.
.newStyle
	.container.modal.clm-modal.zh-clm-modal.zh-close-modal
		.container.max-width-d
			.row.gutter.modalContent.zh-modalContent.bg-white
				.col.a-12.gutter.padding-top-xl.padding-bottom-xl
					p.zh-clm-noPn.clm-noPn.align-center No Sellers Available
					#sd-box-loghi.zh-box-loghi.col.a-12(data-market='', data-skulist='null', data-apiid='1d03f0a3-51e0-4f75-908f-526e94299bad')
						.col.a-12.c-8.c-offset-2.align-center.gutter-half.zh-template
							a.zh-link.no-underline(href='#1', target='blank')
								.sd-logo
									img.zh-logo.centerImage(src='', alt='image', title='image')
									img.zh-trackPixel(src='', alt='imageTP', title='imageTP')
								.sd-description
									p.text-secondary-dark.text-l.margin-top-0.store-price.zh-store-price
									p.text-tertiary-dark.hide-a-only.hide-b-only.store-descr.zh-store-descr Buy on Acer Store
							.sd-price
								p.zh-price.price.text-tertiary-dark.align-center
				a.heading-xl.close.no-underline.zh-close-clm.margin-0(href='#')
					i.text-secondary-dark.icon.icon-ai-close
