.newStyle
	.container.secondLevelMenu.zh-menuSec.over
		.container.max-width-d
			.row.gutter
				.col.a-12.c-2.gutter.seriesName
					a.text-xs.bold.uppercase.no-underline.float-left(title='Brand', href='vi/VN/content/conceptd-brand-story') Brand
					i.icon.icon-ai-arrow-down.align-center.iconCta
				.col.a-12.c-10.gutter.seriesNav
					nav
						ul
							li
								a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Design', href='vi/VN/content/conceptd-brand-design') Design
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Tech', href='vi/VN/content/conceptd-brand-tech') Tech
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Events', href='vi/VN/content/conceptd-brand-events') Events
	.zh-fade(style='opacity: 1;')
		#chunk_591367.ghei_chunk
			div
			div
				style.
					.newStyle>.container.max-width-e {
					max-width: 100%;
					}
					.newStyle h1,
					.newStyle h2,
					.newStyle h3,
					.newStyle h4,
					.newStyle h5,
					.newStyle h6 {
					font-weight: bold;
					line-height: 1.2;
					}
					.newStyle .secondLevelMenu .seriesName a,
					.newStyle .secondLevelMenu .seriesNav ul li a {
					font-size: 0.875em;
					font-weight: normal !important;
					text-transform: none;
					}
					.newStyle .secondLevelMenu .seriesName a {
					color: rgba(0, 0, 0, 0.4);
					}
					.newStyle .secondLevelMenu .seriesName a:hover,
					.newStyle .secondLevelMenu .seriesNav ul li a:hover {
					color: #bf9474;
					}
					.newStyle .secondLevelMenu .seriesNav ul li a.active {
					color: #dc582a;
					}
					@media (min-width: 1024px) {
					.firstchunk {
					margin-top: 62.8px;
					}
					}
	.zh-fade(style='opacity: 1;')
		#chunk_591368.ghei_chunk
			div
			div
				.newStyle.firstchunk
					#section-designconcepts.container.bg-white
						.container.max-width-d
							.row.gutter
								.col.gutter.a-10.a-offset-1.padding-top-m.padding-bottom-m
									h2.fs-4.align-center
										span#placeholder_525728.ghei_placeholder Design Concepts
	.zh-fade(style='opacity: 1;')
		#chunk_591369.ghei_chunk
			div
			div
				.newStyle
					style.
						.subsection-designconcepts .content-text {
						padding: 2rem;
						z-index: 100;
						}
						.subsection-designconcepts h3,
						.subsection-designconcepts p {
						text-align: center;
						}
						.subsection-designconcepts .content-img {
						z-index: 1;
						}
						@media (min-width: 1024px) {
						.subsection-designconcepts {
						position: relative;
						}
						#subsection-beautyofwood {
						margin-top: -300px;
						}
						.subsection-designconcepts .content-text {
						padding-left: 3rem;
						padding-right: 3rem;
						position: absolute;
						width: calc(15.3846153846vw + 354.4615384615px);
						}
						#subsection-warmthofamber .content-text {
						left: 0;
						padding-top: calc(48.0769230769vw - 392.3076923077px);
						top: 0;
						}
						#subsection-beautyofwood .content-text {
						bottom: 0;
						padding-bottom: calc(24.0384615385vw + 3.8461538462px);
						right: 0;
						}
						.subsection-designconcepts h3,
						.subsection-designconcepts p {
						text-align: left;
						}
						#subsection-warmthofamber .content-img {
						transform: translateX(30%);
						}
						#subsection-beautyofwood .content-img {
						transform: translateX(-50%);
						}
						.subsection-designconcepts .content-img img {
						max-width: 100%;
						}
						}
						@media (min-width: 1440px) {
						.subsection-designconcepts .content-text {
						width: 576px;
						}
						#subsection-warmthofamber .content-text {
						padding-top: 300px;
						}
						#subsection-beautyofwood .content-text {
						padding-bottom: 350px;
						}
						}
					.container(style='background-color: #ddd')
						#subsection-warmthofamber.container.max-width-d.subsection-designconcepts
							.content-text
								h3.fs-2
									span#placeholder_525729.ghei_placeholder The Warmth of Amber
								p.fs-0
									span#placeholder_525730.ghei_placeholder
										| The signature amber light used throughout the ConceptD range provides a warm glow synonymous with mother nature. This bright, warm hue symbolizes and promotes energy and confidence, inspiring creativity and leading the way to the soul of every Creator.
							.content-img
								img(alt='ConceptD Laptop', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190829/warmthofamber-product.png')
						#subsection-beautyofwood.container.max-width-d.subsection-designconcepts
							.content-text
								h3.fs-2
									span#placeholder_525731.ghei_placeholder The Beauty of Wood
								p.fs-0
									span#placeholder_525732.ghei_placeholder
										| The wood effect top of the ConceptD 500 brings an earthly natural feel to an otherwise futuristic design and provides a calm and comforting appearance.
							.content-img
								img(alt='ConceptD Laptop', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190829/beautyofwood-product.png')
	.zh-fade(style='opacity: 0;')
		#chunk_591370.ghei_chunk
			div
			div
				.newStyle
					style.
						#industrialdesign-bg {
						background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-640x640.jpg);
						background-repeat: no-repeat;
						background-size: cover;
						padding-bottom: 100%;
						}
						@media (min-width: 640px) {
						#industrialdesign-bg {
						background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-1024x600.jpg);
						padding-bottom: 58.5937%;
						}
						}
						@media (min-width: 1024px) {
						#industrialdesign-bg {
						background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-2560x1080.jpg);
						padding-bottom: 42.1875%;
						}
						}
					#section-industrialdesign.container.bg-gray-1
						.container.max-width-d
							.row.gutter
								.col.gutter.a-10.a-offset-1.padding-top-m.padding-bottom-m
									h2.fs-4.align-center
										span#placeholder_525733.ghei_placeholder Industrial Design
						#industrialdesign-bg.container.max-width-f
	.zh-fade(style='opacity: 0;')
		#chunk_591371.ghei_chunk
			div
			div
				.newStyle
					style.
						#subsection-uniquecoating {
						margin-top: -100px;
						padding-left: 2rem;
						padding-right: 2rem;
						}
						#subsection-uniquecoating ol {
						line-height: 1.5;
						list-style: decimal;
						margin-left: 1rem;
						}
						#subsection-uniquecoating ol li {
						font-size: inherit;
						margin-bottom: 1rem;
						}
					.container.bg-gray-1
						#subsection-uniquecoating.container.max-width-d
							.container.padding-m(style='background-color: rgba(255, 255, 255, 0.8)')
								.row
									.col.gutter.a-12
										h3.fs-2
											span#placeholder_525734.ghei_placeholder Unique Coating
									.col.gutter.a-12.c-6
										span#placeholder_525735.ghei_placeholder
											p.fs-0
												| To achieve the unique stardust-like effect of The White, the product must undergo a two spray coating processes:
											ol.fs-0
												li
													| Primer is the first coating which protects the original material and makes the following processes go smoothly.
												li
													| Finally, the stain resistant coating provides a soft touch, easy cleaning surface.
									.col.gutter.a-12.c-6
										p.fs-0
											span#placeholder_525736.ghei_placeholder
												| From material properties, structural strength, forming techniques, finishing and many other limitations, to the interactions between the spray coating processes and the base material, as well as the paint itself, the thickness of the coating, coat baking time, and heat resistance, any change to these factors will produce completely different hues. Our R&D team members devoted themselves to finding the perfect combination just to achieve uniform coloring throughout the whole product.
	.zh-fade(style='opacity: 0;')
		#chunk_591372.ghei_chunk
			div
			div
				.newStyle
					.container.bg-gray-1
						.container.max-width-d
							.container.padding-m
								.row
									.col.gutter.a-12.c-6
										img.centerImage.zh-img-definition(alt='Illustration of unique coating layers', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-880x640.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-880x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg')
									.col.gutter.a-12.c-6
										h3.fs-2
											span#placeholder_526285.ghei_placeholder New Stain Resistant Coating Technology
										p.fs-0
											span#placeholder_526286.ghei_placeholder
												| Stain Resistant Coating Technology minimizes the capillary pores on the coating surface, making it exquisitely smooth to the touch and provides greatly improved stain resistance. This groundbreaking new coating technology also locks out external pollutants perfectly, which effectively prevents The White coating from turning yellow, and ushers in a new era in spray coating, where white products always looks as good as new.
										h3.fs-2.margin-top-m
											span#placeholder_526287.ghei_placeholder Excellent Resistance Against Common Stains
										p.fs-0
											span#placeholder_526288.ghei_placeholder
												| The Stain Resistant Coating offers effective resistance against common sources of stains, such as coffee, ink, and lipstick, allowing the product to stay pristine clean.
										h3.fs-2.margin-top-m
											span#placeholder_526289.ghei_placeholder High Strength Surface Spray Coating
										p.fs-0
											span#placeholder_526290.ghei_placeholder
												| Tested with industry-standard testing methods: After testing with high intensity rubber abrasion (400 times) and felt abrasion (8000 times), The White coating still looks new.
