.zh-fade
	#chunk_591367.ghei_chunk
		div
		div
			style.
				.newStyle > .container.max-width-e {
				max-width: 100%;
				}
				.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
				font-weight: bold;
				line-height: 1.2;
				}
				.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
				font-size: 0.875em;
				font-weight: normal !important;
				text-transform: none;
				}
				.newStyle .secondLevelMenu .seriesName a {
				color: rgba(0, 0, 0, 0.4);
				}
				.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
				color: #bf9474;
				}
				.newStyle .secondLevelMenu .seriesNav ul li a.active {
				color: #dc582a;
				}
				@media (min-width: 1024px) {
				.firstchunk {
				margin-top: 62.8px;
				}
				}