.zh-fade
	#chunk_591368.ghei_chunk
		div
		div
			.newStyle.firstchunk
				#section-designconcepts.container.bg-white
					.container.max-width-d
						.row.gutter
							.col.gutter.a-10.a-offset-1.padding-top-m.padding-bottom-m
								h2.fs-4.align-center
									span#placeholder_525728.ghei_placeholder Design Concepts