.zh-fade
	#chunk_591369.ghei_chunk
		div
		div
			.newStyle
				style.
					.subsection-designconcepts .content-text {
					padding: 2rem;
					z-index: 100;
					}
					.subsection-designconcepts h3, .subsection-designconcepts p {
					text-align: center;
					}
					.subsection-designconcepts .content-img {
					z-index: 1;
					}
					@media (min-width: 1024px) {
					.subsection-designconcepts {
					position: relative;
					}
					#subsection-beautyofwood {
					margin-top: -300px;
					}
					.subsection-designconcepts .content-text {
					padding-left: 3rem;
					padding-right: 3rem;
					position: absolute;
					width: calc(15.3846153846vw + 354.4615384615px);
					}
					#subsection-warmthofamber .content-text {
					left: 0;
					padding-top: calc(48.0769230769vw - 392.3076923077px);
					top: 0;
					}
					#subsection-beautyofwood .content-text {
					bottom: 0;
					padding-bottom: calc(24.0384615385vw + 3.8461538462px);
					right: 0;
					}
					.subsection-designconcepts h3, .subsection-designconcepts p {
					text-align: left;
					}
					#subsection-warmthofamber .content-img {
					transform: translateX(30%);
					}
					#subsection-beautyofwood .content-img {
					transform: translateX(-50%);
					}
					.subsection-designconcepts .content-img img {
					max-width: 100%;
					}
					}
					@media (min-width: 1440px) {
					.subsection-designconcepts .content-text {
					width: 576px;
					}
					#subsection-warmthofamber .content-text {
					padding-top: 300px;
					}
					#subsection-beautyofwood .content-text {
					padding-bottom: 350px;
					}
					}
				.container(style='background-color: #ddd; overflow: hidden;')
					#subsection-warmthofamber.container.max-width-d.subsection-designconcepts
						.content-text
							h3.fs-2
								span#placeholder_525729.ghei_placeholder The Warmth of Amber
							p.fs-0
								span#placeholder_525730.ghei_placeholder
									| The signature amber light used throughout the ConceptD range provides a warm glow synonymous with mother nature. This bright, warm hue symbolizes and promotes energy and confidence, inspiring creativity and leading the way to the soul of every Creator.
						.content-img
							img(alt='ConceptD Laptop', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190829/warmthofamber-product.png')
					#subsection-beautyofwood.container.max-width-d.subsection-designconcepts
						.content-text
							h3.fs-2
								span#placeholder_525731.ghei_placeholder The Beauty of Wood
							p.fs-0
								span#placeholder_525732.ghei_placeholder
									| The wood effect top of the ConceptD 500 brings an earthly natural feel to an otherwise futuristic design and provides a calm and comforting appearance.
						.content-img
							img(alt='ConceptD Laptop', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190829/beautyofwood-product.png')