.zh-fade
	#chunk_591370.ghei_chunk
		div
		div
			.newStyle
				style.
					#industrialdesign-bg {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-640x640.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					padding-bottom: 100%;
					}
					@media (min-width: 640px) {
					#industrialdesign-bg {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-1024x600.jpg);
					padding-bottom: 58.5937%;
					}
					}
					@media (min-width: 1024px) {
					#industrialdesign-bg {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/industrialdesignbg-2560x1080.jpg);
					padding-bottom: 42.1875%;
					}
					}
				#section-industrialdesign.container.bg-gray-1
					.container.max-width-d
						.row.gutter
							.col.gutter.a-10.a-offset-1.padding-top-m.padding-bottom-m
								h2.fs-4.align-center
									span#placeholder_525733.ghei_placeholder Industrial Design
					#industrialdesign-bg.container.max-width-f