.zh-fade
	#chunk_591371.ghei_chunk
		div
		div
			.newStyle
				style.
					#subsection-uniquecoating {
					margin-top: -100px;
					padding-left: 2rem;
					padding-right: 2rem;
					}
					#subsection-uniquecoating ol {
					line-height: 1.5;
					list-style: decimal;
					margin-left: 1rem;
					}
					#subsection-uniquecoating ol li {
					font-size: inherit;
					margin-bottom: 1rem;
					}
				.container.bg-gray-1
					#subsection-uniquecoating.container.max-width-d
						.container.padding-m(style='background-color: rgba(255, 255, 255, 0.8)')
							.row
								.col.gutter.a-12
									h3.fs-2
										span#placeholder_525734.ghei_placeholder Unique Coating
								.col.gutter.a-12.c-6
									span#placeholder_525735.ghei_placeholder
										p.fs-0
											| To achieve the unique stardust-like effect of The White, the product must undergo a two spray coating processes:
										ol.fs-0
											li
												| Primer is the first coating which protects the original material and makes the following processes go smoothly.
											li
												| Finally, the stain resistant coating provides a soft touch, easy cleaning surface.
								.col.gutter.a-12.c-6
									p.fs-0
										span#placeholder_525736.ghei_placeholder
											| From material properties, structural strength, forming techniques, finishing and many other limitations, to the interactions between the spray coating processes and the base material, as well as the paint itself, the thickness of the coating, coat baking time, and heat resistance, any change to these factors will produce completely different hues. Our R&D team members devoted themselves to finding the perfect combination just to achieve uniform coloring throughout the whole product.