.zh-fade
	#chunk_591372.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d
						.container.padding-m
							.row
								.col.gutter.a-12.c-6
									img.centerImage.zh-img-definition(alt='Illustration of unique coating layers', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-880x640.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-880x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-design/20190903/coating-720x720.jpg')
								.col.gutter.a-12.c-6
									h3.fs-2
										span#placeholder_526285.ghei_placeholder New Stain Resistant Coating Technology
									p.fs-0
										span#placeholder_526286.ghei_placeholder
											| Stain Resistant Coating Technology minimizes the capillary pores on the coating surface, making it exquisitely smooth to the touch and provides greatly improved stain resistance. This groundbreaking new coating technology also locks out external pollutants perfectly, which effectively prevents The White coating from turning yellow, and ushers in a new era in spray coating, where white products always looks as good as new.
									h3.fs-2.margin-top-m
										span#placeholder_526287.ghei_placeholder Excellent Resistance Against Common Stains
									p.fs-0
										span#placeholder_526288.ghei_placeholder
											| The Stain Resistant Coating offers effective resistance against common sources of stains, such as coffee, ink, and lipstick, allowing the product to stay pristine clean.
									h3.fs-2.margin-top-m
										span#placeholder_526289.ghei_placeholder High Strength Surface Spray Coating
									p.fs-0
										span#placeholder_526290.ghei_placeholder
											| Tested with industry-standard testing methods: After testing with high intensity rubber abrasion (400 times) and felt abrasion (8000 times), The White coating still looks new.