.newStyle
	.newStyle
		style.
			@media screen and (min-width: 0em) and (max-width: 39.999em) {
			#area645973.flexBox .flexContent.over{top:16px;transform:translateY(0)}
			}
			@media screen and (min-width: 40em) and (max-width: 63.999em) {
			#area645973.flexBox .flexContent.over{top:16px;transform:translateY(0)}
			}
			@media screen and (min-width: 64em) and (max-width: 89.999em) {
			#area645973.flexBox .flexContent.over{top:5px;transform:translateY(0)}
			}
			@media screen and (min-width: 90em) and (max-width: 119.999em) {
			#area645973.flexBox .flexContent.over{top:32px;transform:translateY(0)}
			}
			@media screen and (min-width: 120em) and (max-width: 159.999em) {
			#area645973.flexBox .flexContent.over{top:32px;transform:translateY(0)}
			}
			@media screen and (min-width: 160em) {
			#area645973.flexBox .flexContent.over{top:32px;transform:translateY(0)}
			}
		.container.bg-white
			#area645973.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_main_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_main_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_main_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_main_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_main_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
				.flexContent.over.container.max-width-d
					.row
						.col.a-offset-0.a-12
							h2.bold.fs-4.text-secondary-dark.align-center ConceptD 9 Pro
							p.bold.fs-5.text-primary-dark.align-center Maximize Your Creativity
							.col.a-12
								a#lb_lightbox1.fs-2.text-primary-orange.no-underline.float-none.inline-block.align-center.zh-lightbox-cta(href='#') Watch Video >
							.col.a-12
								a.hidden.zh-buyModal.fs-2.text-primary-orange.no-underline.float-none.inline-block.align-center(href='#') Buy Now  >
.newStyle
	.newStyle
		.container.bg-gray-1
			#area645987.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								p.fs-1.text-primary-dark.align-center.margin-top-l.margin-bottom-l
									| When your 2D and 3D work demands more, the ConceptD 9 Pro delivers. Its heavyweight processors take care of business while the 4K UHD display brings professional precision with its 100% Adobe
									sup ®
									|  RGB gamut, PANTONE
									sup ®
									|  Validated color fidelity, and Delta E <1 color accuracy. The ground-breaking Ezel™ Aero Hinge further gives this device unique flexibility to create and collaborate the way you want.
.newStyle
	.newStyle
		.container.bg-white
			#area645974.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								p.fs-1.text-primary-dark.align-center.margin-top-l.margin-bottom-s
									| Creativity demands uncompromised computing power that ConceptD laptops and desktops with NVIDIA
									sup ®
									|  GeForce/Quadro RTX™ GPUs deliver. Designed and tested specifically for creative workflows, NVIDIA GeForce / Quadro RTX™ Studio laptops/desktops help design studios work faster.
.newStyle
	.newStyle
		.container.bg-white
			#area645980.flexBox.align-center
				.flexBg.container.max-width-e
					.flexContent.container.max-width-c
						.row.padding-top-m
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/icon/20191015/logo_9th_intel_i9.png')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Desktop/conecptD-900/overview/20191015/nvidia-quadro-rtx-studio.PNG')
							.col.a-4
								.media-flex
									img#comp1.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/icon/20191015/logo_Adobe_RGB_4K.png')
.newStyle
	.newStyle
		.container.bg-white
			#area645983.flexBox.align-center
				.flexBg.container.max-width-e
					.flexContent.container.max-width-c
						.row.padding-bottom-m
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/icon/20191015/logo_Pantone_validated.png')
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/icon/20191015/logo_Adobe_RGB.png')
							.col.a-4
								.media-flex
									img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/icon/20191015/logo_DeltaE-1_1x1.png')
.newStyle
	#645984
	#Design.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#design.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle(style='background:#F5F5F5;')
		#area645988.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-d
					.row
						.col.a-offset-1.d-offset-2.a-10.d-8
							h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s.padding-left-m.padding-right-m
								| Attractive from Every Angle
							p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-m.padding-left-m.padding-right-m
								| With its timeless design, the ConceptD 9 Pro looks at home any workplace, while the Ezel™ Aero Hinges give creators extra flexibility.
						.col.a-12
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| Ezel™
								p.fs-0.text-tertiary-dark.align-center.margin-top-0.margin-bottom-m
									| Aero Hinge
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| CNC
								p.fs-0.text-tertiary-dark.align-center.margin-top-0.margin-bottom-m
									| Machined
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| Four
								p.fs-0.text-tertiary-dark.align-center.margin-top-0.margin-bottom-m
									| Modes
.newStyle
	.newStyle
		.container.bg-gray-1
			#area645985.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp1-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191023/conceptD_9_Pro_KSP_1_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191023/conceptD_9_Pro_KSP_1_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191023/conceptD_9_Pro_KSP_1_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191023/conceptD_9_Pro_KSP_1_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191023/conceptD_9_Pro_KSP_1_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#F5F5F5;')
		#area645981.flexBox.align-left
			.flexBg.container.max-width-f
				.flexContent.container.max-width-d
					.row
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-6.padding-m
							.media-flex
								img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_1-1_large.jpg')
							h4.bold.fs-2.text-primary-dark.align-left.padding-s.padding-bottom-0
								| A Mode for Every Moment
							p.fs-0.text-primary-dark.align-left.margin-0.padding-s.padding-top-0
								| True creativity requires a flexible approach. To the sides of the display, two CNC-machined Ezel™ Aero Hinges grip the screen in a tight embrace, ready to become whatever tool the moment demands, with four modes to choose from: notebook, Ezel™, display, or stand. Share your work with ease or design in the way that suits your process best.
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-6.padding-m
							.media-flex
								img#comp2.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_1-2_large.jpg')
							h4.bold.fs-2.text-primary-dark.align-left.padding-s.padding-bottom-0
								| A Gentle Glow
							p.fs-0.text-primary-dark.align-left.margin-0.padding-s.padding-top-0
								| Type comfortably in any environment with the backlit keyboard. The warm amber backlighting creates a soft radiance reminiscent of nature and a breaking dawn.
.newStyle
	#645992
	#Display.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#display.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle(style='background:#1A1A1A;')
		#area645976.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-d
					.row
						.col.a-offset-1.d-offset-2.a-10.d-8
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s
								| The Perfect Canvas
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-m
								| Color accuracy is critical for design work and the ConceptD 9 Pro doesn’t disappoint with its range of color technologies. See every detail in unbelievable clarity with the 4K UHD resolution.
						.col.a-12
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| 17.3-inch
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| Touchscreen
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| 4K UHD
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| 3840 x 2160
							.col.a-12.b-4
								h4.bold.fs-4.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| IPS
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| Panel
.newStyle
	.newStyle(style='background:#1f1e1c;')
		#area645982.flexBox.align-center
			.flexBg.container.max-width-f
				.media-flex
					img#ksp2-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#1A1A1A;')
		#area645977.flexBox.align-left
			.flexBg.container.max-width-f
				.flexContent.container.max-width-d
					.row.padding-bottom-s
						.col.gutter.a-12.c-6.margin-top-m
							.media-flex
								img#comp1.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_KSP_2-1_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_KSP_2-1_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_KSP_2-1_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_KSP_2-1_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2-1_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
						.col.gutter.a-offset-1.c-offset-0.a-10.c-4.padding-0.margin-top-m
							h4.bold.fs-2.text-primary-light.a-align--center.b-align--center
								| Pinpoint Color Accuracy
							p.fs-0.text-primary-light.a-align--center.b-align--center.margin-top-0.margin-bottom-l
								| Professional design work requires professional tools. Ensure faithful color reproduction with the ConceptD 9 Pro’s tested and calibrated display.
.newStyle
	.newStyle(style='background:#1A1A1A;')
		#area645978.flexBox.align-left
			.flexBg.container.max-width-d
				.flexContent.container.max-width-d
					.row.margin-left-m.margin-right-m.padding-bottom-m
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#313131;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2-2-1.png')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| 100% Adobe
									sup ®
									|  RGB Color Gamut
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| With 100% Adobe
									sup ®
									|  RGB, colors will be brighter and more accurate due to extending the color range of cyan-green hues.
								#ksp2col1p
								p
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#313131;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2-2-2.png')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| PANTONE
									sup ®
									|  Validated
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Get a professional edge with a display that features integrated color correction and has demonstrated superior fidelity in reproducing the PANTONE
									sup ®
									|  Matching System (PMS) Colors.
								#ksp2col2p
								p
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#313131;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_2-2-3.png')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Delta E <1
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| The display has been tested and calibrated to achieve a super-low Delta E average of <1 to reproduce true-to-life color accuracy.
								#ksp2col3p
								p
.newStyle
	.newStyle
		.container.bg-gray-1
			#area645989.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191115/conceptD_9_Pro_lifestyle_1_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191115/conceptD_9_Pro_lifestyle_1_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191115/conceptD_9_Pro_lifestyle_1_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191115/conceptD_9_Pro_lifestyle_1_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191115/conceptD_9_Pro_lifestyle_1_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	#645979
	#Performance.m_ksp.newStyle.zh-fade.zh-acerModule
		.container(style='background-color:#5a5a5a')
			.container.max-width-f
				.row
					#performance.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle(style='background:#5a5a5a;')
		#area645972.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-d
					.row
						.col.a-offset-1.d-offset-2.a-10.d-8
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s.padding-left-m.padding-right-m
								| Ultimate Creative Power
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-m.padding-left-m.padding-right-m
								| With the power to handle the most demanding creations, the ConceptD 9 Pro is the ideal laptop for both 2D and 3D design. The chassis houses a 9
								sup th
								|  Gen Intel
								sup ®
								|  Core™ i9 processor
								sup 1
								| , an NVIDIA
								sup ®
								|  Quadro RTX™ 5000
								sup 1
								| , up to 32GB of DDR4, and 2TB
								sup 1
								|  NVMe SSDs in Raid 0
								sup 1
								| . Render large 3D models, dive into machine learning, do real-time ray tracing, and more.
						.col.a-12
							.col.a-offset-0.b-offset-0.c-offset-0.a-12.b-6.c-3.margin-top-0.margin-bottom-s.padding-left-s.padding-right-s
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-xs
									| 9
									sup th
									|  Gen Intel
									sup ®
								h4.bold.fs-3.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| Core™ i9
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| Processor
									sup 1
							.col.a-offset-0.b-offset-0.c-offset-0.a-12.b-6.c-3.margin-top-0.margin-bottom-s.padding-left-s.padding-right-s
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-xs
									| Microsoft
								h4.bold.fs-3.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| Windows 10 Pro
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| Operating System
							.col.a-offset-0.b-offset-0.c-offset-0.a-12.b-6.c-3.margin-top-0.margin-bottom-s.padding-left-s.padding-right-s
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-xs
									| NVIDIA
									sup ®
								h4.bold.fs-3.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| Quadro RTX™ 5000
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| Graphics
									sup 1
							.col.a-offset-0.b-offset-0.c-offset-0.a-12.b-6.c-3.margin-top-0.margin-bottom-s.padding-left-s.padding-right-s
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-xs
									| RAM / SSD
								h4.bold.fs-3.text-primary-orange.align-center.margin-top-0.margin-bottom-xs
									| 32GB / 2TB
								p.fs-0.text-tertiary-light.align-center.margin-top-0.margin-bottom-m
									| DDR4-2666
									sup 1
									|  / NVME
									sup 1
.newStyle
	.newStyle(style='background:#5a5a5a;')
		#area645975.flexBox.align-center
			.flexBg.container.max-width-d
				.media-flex
					img#ksp03-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_3_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_3_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_3_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_3_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_3_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#535353;')
		#area645986.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-c
					.row
						.col.a-offset-1.a-10
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s
								| NVIDIA
								sup ®
								|  Quadro RTX™ Technology
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-l
								| NVIDIA
								sup ®
								|  Quadro RTX™ graphics cards are bringing real-time ray tracing and AI to the applications you use every day. Whether you’re doing complex 3D CAD modelling and visualization, simulating intensive engineering projects, or creating feature-length film, you’ll have the power to do what you do - better and faster.
.newStyle
	.newStyle(style='background:#535353;')
		#area645990.flexBox.align-center
			.flexBg.container.max-width-d
				.media-flex
					img#ksp04-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191016/conceptD_9_Pro_KSP_4_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#535353;')
		#area645991.flexBox.align-left
			.flexBg.container.max-width-d
				.flexContent.container.max-width-d
					.row.margin-left-m.margin-right-m.padding-bottom-m
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4-1.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Ray Tracing
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Accelerated ray tracing in renderers let you review your lifelike graphics as you create. Ray tracing simulates the true behavior of light to bring you real-time, cinema-quality rendering.
								#ksp4col1p
								p
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4-2.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| NVIDIA Turing™
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| The revolutionary NVIDIA Turing™ architecture fuses together real-time ray tracing, artificial intelligence, and programmable shading.
								#ksp4col2p
								p
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_4-3.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| AI Enhancements
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Focus on your creativity and let RTX™ Tensor Cores save you time by accelerating AI features to boost quality and handle tedious, time-consuming tasks.
								#ksp4col3p
								p
.newStyle
	.newStyle(style='background:#5a5a5a;')
		#area647094.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-c
					.row
						.col.a-offset-1.a-10
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s
								| Silent Focus
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-l
								| Một môi trường yên lặng là khi bạn tập trung vào từng chi tiết của thiết kế. Làm việc trong không gian yên bình với custom-engineered cooling of a 4
								sup th
								|  Gen Aeroblade™ 3D fan, which runs at under 40dBA—the equivalent of a library room. The latest generation’s design is optimized for noise reduction even when the CPU is running at full capacity, meaning the laptop doesn’t disturb others even in the quietest spaces.
.newStyle
	.newStyle(style='background:#5a5a5a;')
		#area647100.flexBox.align-center
			.flexBg.container.max-width-d
				.media-flex
					img#ksp05-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#5a5a5a;')
		#area647101.flexBox.align-left
			.flexBg.container.max-width-d
				.flexContent.container.max-width-d
					.row.margin-left-m.margin-right-m.padding-bottom-m
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#05-comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5-1.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Bionic Design
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Inspired by silent, powerful owl flight mechanics we gave our fans a serrated edge, allowing more air to pass through.
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#05-comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5-2.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Ultra-thin Blades
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Each of the 59 bionic blades is just 0.1mm thick and all-metal with a stabilizing dual indent groove.
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#5a5a5a;')
								.media-flex
									img#05-comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_5-3.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Noise Reduction
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| The winglets’ noise-reducing mechanism, along with the optimized thermal tuning system, further reduce turbulence and give you a quiet, comfortable place for creation.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647107.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_2_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_2_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_2_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_2_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_2_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	#647095
	#Features.m_ksp.newStyle.zh-fade.zh-acerModule
		.container
			.container.max-width-f
				.row
					#features.col.a-12.contSection.zh-contHotSpot(data-align='null')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647500.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s
									| Independent Software Vendors (ISV)
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| To meet the demands of engineers, architects, videographers, cinematographers, 3D animators, AI professionals and many more, a hardware solution that has been tested and certified by Independent Software Vendors (ISVs) is demanded. ConceptD products, in specific model configurations, offer ISV certified hardware in combination with the most recent technologies.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647558.flexBox.align-center
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20200525/isv-vendors-ConceptD9-Pro.png')
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20191112/isv-certification-logo.png')
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/conceptD/ISV/seriesksp/20200525/isv-software-ConceptD9-Pro.png')
.newStyle
	.newStyle
		.container.bg-white
			#area647105.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s
									| Never Lose a Great Idea
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Keep that creative edge with the authentic writing and sketching experience of the Wacom
									sup ®
									|  EMR pen, which can be magnetically attached to the laptop. Enjoy unsurpassed usability and fast, accurate control with 4,096 levels of pressure sensitivity. Design from scratch, take quick notes, or highlight key areas during concept discussions—the freedom is yours.
.newStyle
	.newStyle
		.container.bg-white
			#area647097.flexBox.align-center
				.flexBg.container.max-width-d
					.media-flex
						img#ksp06-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_6_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_6_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_6_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_6_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_6_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647109.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-d
						.row
							.col.a-offset-1.d-offset-2.a-10.d-8
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s.padding-left-m.padding-right-m
									| The Ultimate Port
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-m.padding-left-m.padding-right-m
									| Connect to your peripherals and get blazingly fast data transfer with the ThunderBolt™ 3 port. This USB-C™ port delivers transfer speeds of up to 40Gbps, USB charging, and DisplayPort over USB-C, while also allowing you to connect to multiple 4K displays.
							.col.a-12
								.col.a-12.b-4
								.col.a-12.b-4
								.col.a-12.b-4
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647110.flexBox.align-center
				.flexBg.container.max-width-d
					.media-flex
						img#ksp07-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_7_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_7_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_7_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_7_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_7_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647096.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_lifestyle_3_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_lifestyle_3_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_lifestyle_3_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_lifestyle_3_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_lifestyle_3_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#0C0F19;')
		#area647106.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-c
					.row
						.col.a-offset-1.a-10
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s
								| Hands-on Network Control
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-l
								| Channel your bandwidth to where you need it most. With the Killer™ E3000 Ethernet Controller, Killer Wi-Fi 6 AX1650, and Killer Control Center 2.0, you have all the tools you need to ensure your network is 100% optimized.
.newStyle
	.newStyle(style='background:#0C0F19;')
		#area647098.flexBox.align-center
			.flexBg.container.max-width-f
				.media-flex
					img#ksp08-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_KSP_8_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_KSP_8_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_KSP_8_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_KSP_8_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191021/conceptD_9_Pro_KSP_8_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#474747;')
		#area647111.flexBox.align-center
			.flexBg.container.max-width-f
				.flexContent.container.max-width-c
					.row
						.col.a-offset-1.a-10
							h4.bold.fs-3.text-primary-light.align-center.margin-top-l.margin-bottom-s
								| Superb Sound
							p.fs-1.text-primary-light.align-center.margin-top-0.margin-bottom-l
								| Turn any pair of headphones into a high-end 360° surround sound system, enabling you to experience your favorite movies, music, and games with real-world 3D sound.
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647099.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp09-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle(style='background:#474747;')
		#area647108.flexBox.align-left
			.flexBg.container.max-width-d
				.flexContent.container.max-width-d
					.row.margin-left-m.margin-right-m.padding-bottom-m
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#474747;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_1.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| Waves MaxxAudio
									sup ®
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| A suite composed of top-of-the-line audio processing features to enhance every aspect of your laptop’s sound.
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#474747;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_2.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| MaxxBass
									sup ®
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Hear deeper, thundering lows, even on small speakers. MaxxBass delivers the low frequency impact that makes music and movies come alive.
						.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
							div(style='background-color:#474747;')
								.media-flex
									img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_9_3.jpg')
								h4.bold.fs-2.text-primary-light.align-left.padding-m.padding-bottom-0.padding-top-s
									| MaxxDialog™
								p.fs-0.text-primary-light.align-left.margin-0.padding-m.padding-top-0
									| Allows you to identify the “center” (dialog) information and adjust its level independently, resulting in clear dialog that doesn’t vanish behind background sounds.
.newStyle
	.newStyle
		.container.bg-white
			#area647102.flexBox.align-center
				.flexBg.container.max-width-f
					.flexContent.container.max-width-c
						.row
							.col.a-offset-1.a-10
								h4.bold.fs-3.text-primary-dark.align-center.margin-top-l.margin-bottom-s
									| A Full Palette
								p.fs-1.text-primary-dark.align-center.margin-top-0.margin-bottom-l
									| Get instant access to your user settings with the simple, intuitive ConceptD Palette UI. Adjust your color profile, monitor your system, and change your settings with ease. What’s more, you can jump into your Waves NX
									sup ®
									|  3D and adjust your sound settings from the Palette UI.
.newStyle
	.newStyle
		.container.bg-white
			#area647112.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#ksp10-img.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.bg-white
			#area647103.flexBox.align-center
				.flexBg.container.max-width-d
					.flexContent.container.max-width-d
						.row.margin-left-m.margin-right-m.padding-bottom-m
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10-1.png')
									h4.bold.fs-2.text-primary-dark.align-center.padding-m.padding-bottom-0.padding-top-s
										| Color Profile
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10-2.png')
									h4.bold.fs-2.text-primary-dark.align-center.padding-m.padding-bottom-0.padding-top-s
										| System Monitoring
							.col.a-offset-0.b-offset-2.c-offset-0.a-12.b-8.c-4.padding-left-s.padding-right-s.margin-top-s.margin-bottom-s
								.bg-white
									.media-flex
										img#comp-col.centerImage(alt='', title='', src='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_KSP_10-3.png')
									h4.bold.fs-2.text-primary-dark.align-center.padding-m.padding-bottom-0.padding-top-s
										| Settings
.newStyle
	.newStyle
		.container.bg-gray-1
			#area647104.flexBox.align-center
				.flexBg.container.max-width-f
					.media-flex
						img#banner.zh-img-definition.centerImage(alt='', title='', data-viewport-c='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_4_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_4_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_4_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_4_medium.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/Laptops/ConceptD_9_Pro/Overview/20191015/conceptD_9_Pro_lifestyle_4_small.jpg', src='//static.acer.com/up/Resource/Libraries/Acer/4432/images/emptyImage.png')
.newStyle
	.newStyle
		.container.lightbox.lb_lightbox1.zh-lightbox.zh-close-modal
			.container.max-width-d
				.row
					.flexBg.container.max-width-c
						.flexContent.container
							.row
								.col.a-12.padding-0
									.col.a-12.padding-0
										.yt-videoContainer
											iframe.yt-videoContent(src='https://www.youtube.com/embed/M92OQH6b1X0', frameborder='0', allowfullscreen='')
			a.no-underline.zh-lightbox-close.lbClose(href='#')
				i.icon.icon-ai-close
.newStyle
	#footnotes.bg-cd-gray-2
		.container.footerContainer.max-width-d
			.row.gutter
				.col.gutter.a-12.margin-top-m.margin-bottom-m
					p.text-tertiary-light
						sup 1
						| . Specifications vary depending on model and/or region.
.newStyle
	.container.modal.clm-modal.zh-clm-modal.zh-close-modal
		.container.max-width-d
			.row.gutter.modalContent.zh-modalContent.bg-white
				.col.a-12.gutter.padding-top-xl.padding-bottom-xl
					p.zh-clm-noPn.clm-noPn.align-center No Sellers Available
					#sd-box-loghi.zh-box-loghi.col.a-12(data-market='', data-skulist='null', data-apiid='1d03f0a3-51e0-4f75-908f-526e94299bad')
						.col.a-12.c-8.c-offset-2.align-center.gutter-half.zh-template
							a.zh-link.no-underline(href='#1', target='blank')
								.sd-logo
									img.zh-logo.centerImage(src='', alt='image', title='image')
									img.zh-trackPixel(src='', alt='imageTP', title='imageTP')
								.sd-description
									p.text-secondary-dark.text-l.margin-top-0.store-price.zh-store-price
									p.text-tertiary-dark.hide-a-only.hide-b-only.store-descr.zh-store-descr Buy on Acer Store
							.sd-price
								p.zh-price.price.text-tertiary-dark.align-center
				a.heading-xl.close.no-underline.zh-close-clm.margin-0(href='#')
					i.text-secondary-dark.icon.icon-ai-close
