footer
	.newStyle
		.container.max-width-d
			.footer__wrapper
				.footer-bg
					.footer-container
						.footer-row
							.footer-item
								.copy-right
									.copyright__txt Copyright © 2017 - 2020 Acer
							.footer-item
								.social-media
									a(href="#").social-media__item
										.social-media__icon
											img(src="./assets/icons/fb.svg", alt="")
									a(href="#").social-media__item
										.social-media__icon
											img(src="./assets/icons/instagram.svg", alt="")
									a(href="#").social-media__item
										.social-media__icon
											img(src="./assets/icons/youtube.svg", alt="")
							.footer-item
								.footer-link
									a(href="#").footer-link__item Giới thiệu
									a(href="#").footer-link__item Chính sách bảo hành