block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		link(href='https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese', rel='stylesheet')
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
	body
		.localization(style='display:none', data-countryisocode='VN', data-mm-res='//static.acer.com/', data-languageisocode='vi', data-acnt='https://www.acer.com/hub')
		h1.ht Acer Conceptd
		#midLandFixer(style='')
		a#return-to-top(href='#', title='return to top', onclick='return false;')
			i.icon.icon-ai-arrow-up
		.wrapper
			#lightBoxFixed
				#lightBox
					#lightBoxClose(style='cursor: pointer;')
				#lightBoxArrowRight(style='cursor: pointer;')
				#lightBoxArrowLeft(style='cursor: pointer;')
			#languageFixed
				#language
					#languageClose(style='cursor: pointer;')
					#languageContent.bh-languageContainer
			block loading
			block header
				include _header.pug
			block banner,breadcrumb
			main
				block main
				#js-page-verify(class=bodyClass hidden)
			block footer
				include _footer.pug
		block scripts