
.zh-fade
	#chunk_672751.ghei_chunk
		div
		div
			style.
				.newStyle > .container.max-width-e {
				max-width: 100%;
				}
				.-flex {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				}
				.newStyle .-flex:before,
				.newStyle .-flex:after {
				content: '';
				display: none;
				}
				.-flex.-nowrap {
				flex-wrap: nowrap;
				}
				.-flex.-fd-c {
				flex-direction: column;
				}
				.-flex.-fd-cr {
				flex-direction: column-reverse;
				}
				.-flex.-fd-r {
				flex-direction: row;
				}
				.-flex.-fd-rr {
				flex-direction: row-reverse;
				}
				.-flex.-ai-b {
				align-items: baseline;
				}
				.-flex.-ai-c {
				align-items: center;
				}
				.-flex.-ai-fe {
				align-items: flex-end;
				}
				.-flex.-ai-fs {
				align-items: flex-start;
				}
				.-flex.-ai-s {
				align-items: stretch;
				}
				.-flex.-jc-sa {
				justify-content: space-around;
				}
				.-flex.-jc-sb {
				justify-content: space-between;
				}
				.-flex.-jc-c {
				justify-content: center;
				}
				.-flex.-jc-fe {
				justify-content: flex-end;
				}
				.-flex.-jc-se {
				justify-content: space-evenly;
				}
				.-flex.-jc-fs {
				justify-content: flex-start;
				}
.zh-fade
	#chunk_672752.ghei_chunk
		div
		div
			.newStyle
				style.
					#herobanner {
					align-items: center;
					background-color: #000;
					display: flex;
					height: 70vh;
					overflow: hidden;
					position: relative;
					}
					#herobanner video {
					height: 100%;
					left: 50%;
					min-height: 100%;
					min-width: 100%;
					object-fit: cover;
					position: absolute;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					width: auto;
					z-index: 0;
					}
					#herobanner-content {
					color: #dc582a;
					margin: 0 auto;
					position: relative;
					text-transform: uppercase;
					width: 100%;
					z-index: 2;
					}
					#herobanner-content h1 {
					letter-spacing: 0.2em;
					}
					#scroll-arrow {
					animation: scrolling 2s ease-in-out infinite;
					animation-fill-mode: both;
					border-color: #fff;
					border-style: solid;
					border-width: 0 8px 8px 0;
					content: " ";
					display: inline-block;
					height: 32px;
					position: relative;
					transform: rotate(45deg);
					width: 32px;
					}
					@keyframes scrolling {
					0% {
					opacity: 0;
					transform: rotate(45deg) translate(0, 0);
					}
					50% {
					opacity: 1;
					}
					100% {
					opacity: 0;
					transform: rotate(45deg) translate(32px, 32px);
					}
					}
				.container.bg-white
					#herobanner.container.max-width-f
						video(autoplay='', loop='', muted='', playsinline='')
							source(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200507/decoded-herovideo-2.mp4', type='video/mp4')
						div(style='background-color: rgba(0,0,0,.1); height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1')
						#herobanner-content.container.max-width-d
							.row.gutter
								.col.gutter.a-12.b-10.b-offset-1
									h1.fs-6.bold.align-center
										span#placeholder_598239.ghei_placeholder Creativity Decoded
									div(style='text-align: center; width: 100%;')
										#scroll-arrow
.zh-fade
	#chunk_672753.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-c
						.row.gutter
							.col.gutter.a-12.padding-top-l
								h2.align-center.fs-3.bold.text-primary-dark
									span#placeholder_598240.ghei_placeholder About Creator Collaborations
								p.align-center.fs-1.text-primary-dark
									span#placeholder_598241.ghei_placeholder
										| ConceptD has the power to produce the finest creative work, from graphic rendering to web design and from video editing to product rendering, giving creatives the hardware they need to realize their wildest dreams and unleash their most radical ideas. Through our Creator Collaborations, we strive to promote creativity in all its forms whenever and wherever we can, providing creators with the resources needed to produce their dream passion projects.
.zh-fade
	#chunk_672754.ghei_chunk
		div
		div
			style.
				.newStyle .project-tiles {
				padding-left: 16px;
				padding-right: 16px;
				}
				.newStyle .project-tile {
				padding: 16px;
				width: 100%;
				}
				.newStyle .project-tile-break {
				flex-basis: 100%;
				height: 0;
				}
				.newStyle .project-name {
				font-weight: bold;
				margin-bottom: 0.5rem;
				}
				.newStyle .project-tags {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				margin: 1rem 0;
				}
				.newStyle .project-tags > li {
				background-color: #eee;
				color: #666;
				font-family: Verdana, sans-serif;
				font-size: 12px;
				margin: 0 8px 4px 0;
				padding: 6px 8px;
				}
				:lang(zh-TW) .newStyle .project-tags > li {
				font-family: Verdana, 'Heiti TC', 'Microsoft JhengHei', sans-serif;
				font-size: 13px;
				}
				.newStyle .project-learnmore a {
				text-decoration: none;
				}
				@media (min-width: 640px) {
				.newStyle .project-tile {
				width: 50%;
				}
				}
				@media (min-width: 1024px) {
				.newStyle .project-tile {
				width: 25%;
				}
				}
.zh-fade
	#chunk_672755.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.padding-top-s.padding-bottom-l
						.-flex.-jc-c.project-tiles
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-durable-nature')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200507/durablenature-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_661112.ghei_placeholder Durable Nature
								.project-artist.fs-0
									span#placeholder_661113.ghei_placeholder by Ars Thanea
								ul.project-tags
									li
										span#placeholder_661114.ghei_placeholder Animation
									li
										span#placeholder_661115.ghei_placeholder VFX
								p.project-description.fs-0
									span#placeholder_661116.ghei_placeholder
										| Get the chills in this imagined, perfectly rendered, sub-zero wasteland as hope springs eternal in the form of green shoots to create a naturalistic allegory of our times.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-durable-nature')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-dancing-blocks')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200507/dancingblocks-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_661117.ghei_placeholder Dancing Blocks
								.project-artist.fs-0
									span#placeholder_661118.ghei_placeholder by Gerald Russelman
								ul.project-tags
									li
										span#placeholder_661119.ghei_placeholder Architecture
								p.project-description.fs-0
									span#placeholder_661120.ghei_placeholder
										| Follow the architectural journey from 2D floor plan to 3D VR experience while immersing yourself in the developmental process as layer upon layer a new, reusable structure takes form.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-dancing-blocks')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-drift')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200507/drift-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_661121.ghei_placeholder Drift
								.project-artist.fs-0
									span#placeholder_661122.ghei_placeholder by Zach Lieberman
								ul.project-tags
									li
										span#placeholder_661123.ghei_placeholder New Media
									li
										span#placeholder_661124.ghei_placeholder Programming
								p.project-description.fs-0
									span#placeholder_661125.ghei_placeholder
										| Watch as coding and color organically merges a dancer together with their environment in a perfectly executed melting-pot of ideas, styles, and textures.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-drift')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile-break
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-deviant')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200108/deviant-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_598255.ghei_placeholder Deviant
								.project-artist.fs-0
									span#placeholder_598256.ghei_placeholder by LAIR
								ul.project-tags
									li
										span#placeholder_598257.ghei_placeholder Filmmaking
									li
										span#placeholder_598258.ghei_placeholder Video Editing
								p.project-description.fs-0
									span#placeholder_598259.ghei_placeholder
										| Take in a stark and evocative performance art piece conveying the beauty, struggle, and satisfaction artists experience during the creative process.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-deviant')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-deadly-beauty')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200108/deadlybeauty-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_598260.ghei_placeholder Deadly Beauty
								.project-artist.fs-0
									span#placeholder_598261.ghei_placeholder by Digital Domain
								ul.project-tags
									li
										span#placeholder_598262.ghei_placeholder Animation
									li
										span#placeholder_598263.ghei_placeholder Filmmaking
								p.project-description.fs-0
									span#placeholder_598264.ghei_placeholder
										| Dive into a deep-sea reimagining of Carl Sagan and Edwin Salpeter’s classic ‘Cosmos’, set in dark depths full of predators and prey, told through animation and cinematography.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-deadly-beauty')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-davit')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200117/davit-thumbnail.jpg')
								h3.project-name.fs-2
									span#placeholder_598265.ghei_placeholder Davit
								.project-artist.fs-0
									span#placeholder_598266.ghei_placeholder by Joeri Reynaert
								ul.project-tags
									li
										span#placeholder_598267.ghei_placeholder Product Design
								p.project-description.fs-0
									span#placeholder_598268.ghei_placeholder
										| Let your imagination roam free with an ultra-compact laptop stand for creative nomads, providing ergonomics and design tools from 2D to 3D to 4D.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-davit')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.project-tile
								a(href='en/US/content/conceptd-creativity-decoded-day-off')
									img.project-thumbnail(src='//static.acer.com/up/Resource/Acer/conceptD/creativity-decoded/20200108/dayoff-thumbnail.png')
								h3.project-name.fs-2
									span#placeholder_598269.ghei_placeholder Day-Off
								.project-artist.fs-0
									span#placeholder_598270.ghei_placeholder by Yomagick
								ul.project-tags
									li
										span#placeholder_598271.ghei_placeholder Animation
									li
										span#placeholder_598272.ghei_placeholder Graphics
									li
										span#placeholder_598273.ghei_placeholder Art
								p.project-description.fs-0
									span#placeholder_598274.ghei_placeholder
										| Ease yourself into a surreal, detailed dreamscape of rich color and soothing comfort in a series of striking and immersive 3D images.
								p.project-learnmore
									a(href='en/US/content/conceptd-creativity-decoded-day-off')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
.zh-fade
	#chunk_672756.ghei_chunk
		div
		div
			.newStyle
				style.
					#about-tiles {
					display: flex;
					flex-wrap: wrap;
					padding-left: 16px;
					padding-right: 16px;
					}
					#about-tiles .about-tile {
					padding: 16px;
					width: 100%;
					}
					@media (min-width: 640px) {
					#about-tiles .about-tile {
					width: 50%;
					}
					}
					@media (min-width: 1024px) {
					#about-tiles .about-tile {
					width: 25%;
					}
					}
				.container.bg-gray-1
					.container.max-width-d.padding-top-l.padding-bottom-l
						.row.gutter
							.col.gutter.a-12
								h2.align-center.fs-3.bold.text-primary-dark
									span#placeholder_598275.ghei_placeholder About ConceptD
						#about-tiles
							.about-tile
								a(href='en/US/content/conceptd-brand-story')
									img(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Brand_720.jpg', alt='Brand')
								h3.fs-2.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									span#placeholder_598276.ghei_placeholder Brand
								p.text-secondary-dark.align-left
									span#placeholder_598277.ghei_placeholder
										| Creatives in all fields have specific computing requirements which go beyond those of everyday computing. ConceptD meets those needs.
								p.align-left
									a.no-underline.link-orange(href='en/US/content/conceptd-brand-story')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.about-tile
								a(href='en/US/content/conceptd-brand-design')
									img(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Design_720.jpg', alt='Design')
								h3.fs-2.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									span#placeholder_598278.ghei_placeholder Design
								p.text-secondary-dark.align-left
									span#placeholder_598279.ghei_placeholder
										| ConceptD’s minimalist design is about presenting only the most essential elements of a design such as: contrast, spacing, layout, and color.
								p.align-left
									a.no-underline.link-orange(href='en/US/content/conceptd-brand-design')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.about-tile
								a(href='en/US/content/conceptd-brand-tech')
									img(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Tech_720.jpg', alt='Tech')
								h3.fs-2.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									span#placeholder_598280.ghei_placeholder Tech
								p.text-secondary-dark.align-left
									span#placeholder_598281.ghei_placeholder
										| The technology behind ConceptD desktops, laptops and monitors is engineered to allow creators to be able to work as efficiently as possible.
								p.align-left
									a.no-underline.link-orange(href='en/US/content/conceptd-brand-tech')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
							.about-tile
								a(href='en/US/content/conceptd-brand-events')
									img(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Events_720.jpg', alt='Events')
								h3.fs-2.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									span#placeholder_598282.ghei_placeholder Events
								p.text-secondary-dark.align-left
									span#placeholder_598283.ghei_placeholder
										| Join ConceptD around the world as it’s presented to creatives from all different industries.
								p.align-left
									a.no-underline.link-orange(href='en/US/content/conceptd-brand-events')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  >
