.newStyle
	.row.container.max-width-e
		.newStyle
			.container.secondLevelMenu.zh-menuSec.over
				.container.max-width-d
					.row.gutter
						.col.a-12.c-10.c-offset-2.gutter.seriesNav
							nav
								ul
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='2D Creators', href='#')
											| 2D Creators
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='3D Creators', href='#')
											| 3D Creators
									li
										a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Developers', href='#')
											| Developers
		.zh-fade
			#chunk_631651.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
						font-weight: bold;
						}
						.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
						font-size: 0.875em;
						font-weight: normal !important;
						text-transform: none;
						}
						.newStyle .secondLevelMenu .seriesName a {
						color: rgba(0, 0, 0, 0.4);
						}
						.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
						color: #bf9474;
						}
						.newStyle .secondLevelMenu .seriesNav ul li a.active {
						color: #dc582a;
						}
						@media (min-width: 1024px) {
						.firstchunk {
						margin-top: 62.8px;
						}
						.-dtflex {
						align-items: center;
						display: flex;
						justify-content: center;
						}
						.-dtflex.-dtreverse {
						flex-direction: row-reverse;
						}
						}
		.zh-fade
			#chunk_631652.ghei_chunk
				div
				div
					.newStyle.firstchunk
						.container.max-width-f
							img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/top-banner-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg')
		.zh-fade
			#chunk_631653.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d.margin-top-l.margin-bottom-l
								.row.gutter
									.col.gutter.a-12
										h2.fs-2
											span#placeholder_563918.ghei_placeholder Develop Quicker
								.row.gutter
									.col.gutter.a-12.c-6
										p.fs-0
											span#placeholder_563919.ghei_placeholder
												| Every industry, from AI Engineering or Industrial Design to VR Development, has its own workflow challenges and professional developers and content creators have to stay ahead of the crowd and not only think about what’s important today, but what might be needed tomorrow.
									.col.gutter.a-12.c-6
										p.fs-0
											span#placeholder_563920.ghei_placeholder
												| Run-of-the-mill equipment provides neither the power, nor the cross-compatibility required. Therefore, ConceptD workstations with their powerful processors, specific GPUs, large amount of memory and storage, have been designed to specifically meet the needs of developers.
		.zh-fade
			#chunk_631654.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-l.margin-bottom-m
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191025/cuda-power-gpus-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563921.ghei_placeholder CUDA Power GPUs
										p.fs-0
											span#placeholder_563922.ghei_placeholder
												| CUDA
												sup ®
												|  is a parallel computing platform and programming model developed by NVIDIA for general computing. It serves as a common platform across all NVIDIA GPU families so applications can be deployed and scaled across GPU configurations.
		.zh-fade
			#chunk_631655.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-s.margin-bottom-m
								.row.gutter.-dtflex.-dtreverse
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563925.ghei_placeholder How CUDA Works
										p.fs-0
											span#placeholder_563926.ghei_placeholder
												| In GPU-accelerated applications, the sequential part of the workload runs on the CPU – which is optimized for single-threaded performance – while the computational intensive portion of the application runs on thousands of GPU cores in parallel. When using CUDA, developers program in popular languages such as C, C++, Fortran, Python and MATLAB and express parallelism through extensions in the form of a few basic keywords.
		.zh-fade
			#chunk_631656.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-s.margin-bottom-l
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-it-benefits-developers-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563923.ghei_placeholder How it Benefits Developers
										p.fs-0
											span#placeholder_563924.ghei_placeholder
												| In demanding applications such as deep learning, computational physics, or 3D modelling, pure CPU power stalls at the highest levels. That’s where GPUs with CUDA come in – professional applications like Autodesk or Wolfram Mathematica are able to reach previously unthinkable speeds. For example with 4608 parallel processing cores performing up to 16.3 Tflops, you’ll be able to accelerate your multithreading capabilities to the next level.
