.newStyle
	.container.secondLevelMenu.zh-menuSec.over
		.container.max-width-d
			.row.gutter
				.col.a-12.c-10.c-offset-2.gutter.seriesNav
					nav
						ul
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='2D Creators', href='#')
									| 2D Creators
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='3D Creators', href='#')
									| 3D Creators
							li
								a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Developers', href='#')
									| Developers