.zh-fade
	#chunk_631652.ghei_chunk
		div
		div
			.newStyle.firstchunk
				.container.max-width-f
					img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/top-banner-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191118/Developers_Top_Banner_large.jpg')