.zh-fade
	#chunk_631653.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.margin-top-l.margin-bottom-l
						.row.gutter
							.col.gutter.a-12
								h2.fs-2
									span#placeholder_563918.ghei_placeholder Develop Quicker
						.row.gutter
							.col.gutter.a-12.c-6
								p.fs-0
									span#placeholder_563919.ghei_placeholder
										| Every industry, from AI Engineering or Industrial Design to VR Development, has its own workflow challenges and professional developers and content creators have to stay ahead of the crowd and not only think about what’s important today, but what might be needed tomorrow.
							.col.gutter.a-12.c-6
								p.fs-0
									span#placeholder_563920.ghei_placeholder
										| Run-of-the-mill equipment provides neither the power, nor the cross-compatibility required. Therefore, ConceptD workstations with their powerful processors, specific GPUs, large amount of memory and storage, have been designed to specifically meet the needs of developers.