.zh-fade
	#chunk_631654.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.margin-top-l.margin-bottom-m
						.row.gutter.-dtflex
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191025/cuda-power-gpus-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/cuda-power-gpus-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563921.ghei_placeholder CUDA Power GPUs
								p.fs-0
									span#placeholder_563922.ghei_placeholder
										| CUDA
										sup ®
										|  is a parallel computing platform and programming model developed by NVIDIA for general computing. It serves as a common platform across all NVIDIA GPU families so applications can be deployed and scaled across GPU configurations.