.zh-fade
	#chunk_631655.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.margin-top-s.margin-bottom-m
						.row.gutter.-dtflex.-dtreverse
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-developers/20191024/how-cuda-works-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563925.ghei_placeholder How CUDA Works
								p.fs-0
									span#placeholder_563926.ghei_placeholder
										| In GPU-accelerated applications, the sequential part of the workload runs on the CPU – which is optimized for single-threaded performance – while the computational intensive portion of the application runs on thousands of GPU cores in parallel. When using CUDA, developers program in popular languages such as C, C++, Fortran, Python and MATLAB and express parallelism through extensions in the form of a few basic keywords.