.newStyle
	.container.secondLevelMenu.zh-menuSec.over
		.container.max-width-d
			.row.gutter
				.col.a-12.c-2.gutter.seriesName
					a.text-xs.bold.uppercase.no-underline.float-left(title='Brand', href='brand-story.html')
						| Brand
					i.icon.icon-ai-arrow-down.align-center.iconCta
				.col.a-12.c-10.gutter.seriesNav
					nav
						ul
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Design', href='brand-design.html')
									| Design
							li
								a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Tech', href='brand-tech.html')
									| Tech
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Events', href='events.html')
									| Events