.newStyle
	.row.container.max-width-e
		.newStyle
			.container.secondLevelMenu.zh-menuSec.over
				.container.max-width-d
					.row.gutter
						.col.a-12.c-2.gutter.seriesName
							a.text-xs.bold.uppercase.no-underline.float-left(title='Brand', href='#')
								| Brand
							i.icon.icon-ai-arrow-down.align-center.iconCta
						.col.a-12.c-10.gutter.seriesNav
							nav
								ul
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Design', href='#')
											| Design
									li
										a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Tech', href='#')
											| Tech
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Events', href='#')
											| Events
		.zh-fade
			#chunk_591018.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
						font-weight: bold;
						line-height: 1.2;
						}
						.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
						font-size: 0.875em;
						font-weight: normal !important;
						text-transform: none;
						}
						.newStyle .secondLevelMenu .seriesName a {
						color: rgba(0, 0, 0, 0.4);
						}
						.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
						color: #bf9474;
						}
						.newStyle .secondLevelMenu .seriesNav ul li a.active {
						color: #dc582a;
						}
						@media (min-width: 1024px) {
						.firstchunk {
						margin-top: 62.8px;
						}
						}
		.zh-fade
			#chunk_763553.ghei_chunk
				div
				div
					style.
						.-flex {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						}
						.-flex.-nowrap {
						flex-wrap: nowrap;
						}
						.-flex.-fd-c {
						flex-direction: column;
						}
						.-flex.-fd-cr {
						flex-direction: column-reverse;
						}
						.-flex.-fd-r {
						flex-direction: row;
						}
						.-flex.-fd-rr {
						flex-direction: row-reverse;
						}
						.-flex.-ai-b {
						align-items: baseline;
						}
						.-flex.-ai-c {
						align-items: center;
						}
						.-flex.-ai-fe {
						align-items: flex-end;
						}
						.-flex.-ai-fs {
						align-items: flex-start;
						}
						.-flex.-ai-s {
						align-items: stretch;
						}
						.-flex.-jc-sa {
						justify-content: space-around;
						}
						.-flex.-jc-sb {
						justify-content: space-between;
						}
						.-flex.-jc-c {
						justify-content: center;
						}
						.-flex.-jc-fe {
						justify-content: flex-end;
						}
						.-flex.-jc-se {
						justify-content: space-evenly;
						}
						.-flex.-jc-fs {
						justify-content: flex-start;
						}
		.zh-fade
			#chunk_591019.ghei_chunk
				div
				div
					.newStyle.firstchunk
						.container.bg-white(style='position: relative;')
							.container.max-width-f
								img.centerImage.zh-img-definition(alt='Illustration of Quiet Computing', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-1024x600.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-640x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg')
							div(style='left: 0; position: absolute; top:0; width: 100%;')
								.container.max-width-d
									.row.gutter
										.col.a-12.gutter.padding-top-xl
											h2.fs-4.text-primary-dark.align-center
												span#placeholder_525737.ghei_placeholder Less than 40dBA
		.zh-fade
			#chunk_591020.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d.padding-top-m.padding-bottom-m
								.row.gutter
									.col.gutter.a-12.b-10.b-offset-1.c-6.c-offset-0
										h3.fs-2
											span#placeholder_525738.ghei_placeholder What is dBA?
										p.fs-0
											span#placeholder_525739.ghei_placeholder
												| dB (the acronym for decibel) is a unit of sound measurement. It measures the loudness of a sound or the strength of a signal, computed as the signal to noise ratio. However, although dB is commonly used when referring to measuring sound, humans do not hear all frequencies equally. For this reason, sound levels in the low frequency end of the spectrum are reduced as the human ear is less sensitive at low audio frequencies than at high audio frequencies. In order to account for this, different weightings (A, B, C, D and Z) have been created to give a loudness measurement that takes into account how the human ear actually perceives sound. This weighting is known as dBA.
									.col.gutter.a-12.b-10.b-offset-1.c-6.c-offset-0
										h3.fs-2
											span#placeholder_525740.ghei_placeholder How We Test the dBA Level
										p.fs-0
											span#placeholder_525741.ghei_placeholder
												| To establish the dBA levels of ConceptD devices the laptop or desktop is placed on an ISO 7779 table inside a semi-anechoic room. Placed 25cm for laptops and 50cm for desktops, is an artificial head which replicates a real user and is capable of measuring the precise sound quality.
										p.fs-0
											span#placeholder_525742.ghei_placeholder
												| The noise level of <40dBA is obtained using SPECviewperf
												sup ®
												|  13 benchmark conditions.
		.zh-fade
			#chunk_591021.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white(style='position: relative;')
							.container.max-width-f
								img.centerImage.zh-img-definition(alt='Illustration for Color Accuracy', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-2560x1080.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-2560x1080.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-2560x1080.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-10240x600.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-640x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/coloraccuracy-2560x1080.jpg')
							div(style='left: 0; position: absolute; top:0; width: 100%;')
								.container.max-width-d
									.row.gutter
										.col.a-12.gutter.padding-top-m
											h2.fs-4.text-primary-dark.align-center
												span#placeholder_525746.ghei_placeholder Color Accuracy
		.zh-fade
			#chunk_591022.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.padding-top-m.padding-bottom-m
								.row.gutter
									.col.gutter.a-12.b-10.b-offset-1.c-offset-0
										h3.fs-2
											span#placeholder_525743.ghei_placeholder What is Delta E?
									.col.gutter.a-12.b-10.b-offset-1.c-8.c-offset-0
										p.fs-0
											span#placeholder_525744.ghei_placeholder
												| Delta E is used to ensure the color being displayed closely matches what the human eye receives. It is also the difference between two colors designated as two points in the CIELAB color space. The higher the Delta E value, the lower the color accuracy. The color reproduction capabilities of the ConceptD series is further enhanced through complex algorithms, precise white balance, and gamma correction to match colors to their exact hue. Further professional precision is achieved by finely-tuning and calibrating displays for lifelike color reproduction.
									.col.gutter.a-12.b-10.b-offset-1.c-4.c-offset-0
										p.fs-0.text-secondary-dark
											span#placeholder_525745.ghei_placeholder
												| ΔE < 1—indistinguishable difference
												br
												| ΔE < 2—extremely small difference, only obvious to a trained eye
												br
												| ΔE < 3—medium difference, obvious to an untrained eye
												br
												| ΔE < 5—an obvious difference
												br
												| ΔE > 6—a very obvious difference
		.zh-fade
			#chunk_591023.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.padding-top-m.padding-bottom-l
								.row.gutter.-flex
									.col.gutter.a-12.c-8.-flex
										img.centerImage.zh-img-definition(alt='Illustration of Creative Professional Working with a ConceptD Device', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-640x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg')
									.col.gutter.a-12.c-4.-flex.-ai-c
										div
											h3.fs-2
												span#placeholder_525747.ghei_placeholder Why Low Delta E Matters to Professionals
											p.fs-0
												span#placeholder_525748.ghei_placeholder
													| Creative professionals often need to have exact color replication. Displays with lower Delta E produce more accurate colors from in/out signals without color distortion, while also ensuring there is no color difference between multiple displays. For professionals who may work on one monitor and review on another, accurate and consistent color reproduction is key.
		.zh-fade
			#chunk_763376.ghei_chunk
				div
				div
					.newStyle
						style.
							@media (min-width: 1024px) {
							#section-hdr1000 .row.-flex,
							#section-fastconnectivity .row.-flex {
							flex-direction: row-reverse;
							}
							}
						#section-hdr1000.container.bg-white
							.container.max-width-d.padding-top-l.padding-bottom-m
								.row.gutter.-flex
									.col.gutter.a-12.c-8.-flex
										img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/hdr1000-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg')
									.col.gutter.a-12.c-4.-flex.-ai-c
										div
											h3.fs-2
												span#placeholder_634764.ghei_placeholder HDR1000
											p.fs-0
												span#placeholder_634765.ghei_placeholder
													| DisplayHDR 1000 displays offer a range of luminance similar to what a human eye can experience, and a much wider range of colors than traditional monitors. Our ConceptD displays take this brilliant performance to a new level with 1000 nits peak luminance, full direct-array backlight, incredibly accurate color gamut, and more.
		.zh-fade
			#chunk_763435.ghei_chunk
				div
				div
					.newStyle
						#section-highcapacity.container.bg-white
							.container.max-width-d.padding-top-m.padding-bottom-m
								.row.gutter.-flex
									.col.gutter.a-12.c-8.-flex
										img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg')
									.col.gutter.a-12.c-4.-flex.-ai-c
										div
											h3.fs-2
												span#placeholder_634766.ghei_placeholder High-Capacity, High-Speed Storage
											p.fs-0
												span#placeholder_634767.ghei_placeholder
													| When it comes to hard drives, the choice has always been between either high speed or high capacity. With ultra-fast SSDs, now you can – and should – take both! Solid State Drives get faster real-time previews while editing video, and, RAID 0 configuration, enhances read and write performance.
		.zh-fade
			#chunk_763494.ghei_chunk
				div
				div
					.newStyle
						#section-fastconnectivity.container.bg-white
							.container.max-width-d.padding-top-m.padding-bottom-l
								.row.gutter.-flex
									.col.gutter.a-12.c-8.-flex
										img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg')
									.col.gutter.a-12.c-4.-flex.-ai-c
										div
											h3.fs-2
												span#placeholder_634768.ghei_placeholder Fast Connectivity
											p.fs-0
												span#placeholder_634769.ghei_placeholder
													| Connectivity is essential for modern work environments: the possibility to share, stream content, and charge different devices. Get blazingly fast data transfers when you connect to ThunderBolt™ 3 port. This USB-C port delivers transfer speeds of up to 40Gbps, quick USB charging, and DisplayPort over USB-C while also allowing you to connect multiple 4K displays at the same time. With the Killer™ Control Center 2.0, you can also combine your Ethernet and wireless bandwidth to ensure your network is 100% optimized.
