.zh-fade
	#chunk_763435.ghei_chunk
		div
		div
			.newStyle
				#section-highcapacity.container.bg-white
					.container.max-width-d.padding-top-m.padding-bottom-m
						.row.gutter.-flex
							.col.gutter.a-12.c-8.-flex
								img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/highcapacity-large.jpg')
							.col.gutter.a-12.c-4.-flex.-ai-c
								div
									h3.fs-2
										span#placeholder_634766.ghei_placeholder High-Capacity, High-Speed Storage
									p.fs-0
										span#placeholder_634767.ghei_placeholder
											| When it comes to hard drives, the choice has always been between either high speed or high capacity. With ultra-fast SSDs, now you can – and should – take both! Solid State Drives get faster real-time previews while editing video, and, RAID 0 configuration, enhances read and write performance.