.zh-fade
	#chunk_763494.ghei_chunk
		div
		div
			.newStyle
				#section-fastconnectivity.container.bg-white
					.container.max-width-d.padding-top-m.padding-bottom-l
						.row.gutter.-flex
							.col.gutter.a-12.c-8.-flex
								img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/fastconnectivity-large.jpg')
							.col.gutter.a-12.c-4.-flex.-ai-c
								div
									h3.fs-2
										span#placeholder_634768.ghei_placeholder Fast Connectivity
									p.fs-0
										span#placeholder_634769.ghei_placeholder
											| Connectivity is essential for modern work environments: the possibility to share, stream content, and charge different devices. Get blazingly fast data transfers when you connect to ThunderBolt™ 3 port. This USB-C port delivers transfer speeds of up to 40Gbps, quick USB charging, and DisplayPort over USB-C while also allowing you to connect multiple 4K displays at the same time. With the Killer™ Control Center 2.0, you can also combine your Ethernet and wireless bandwidth to ensure your network is 100% optimized.