.zh-fade
	#chunk_763553.ghei_chunk
		div
		div
			style.
				.-flex {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				}
				.-flex.-nowrap {
				flex-wrap: nowrap;
				}
				.-flex.-fd-c {
				flex-direction: column;
				}
				.-flex.-fd-cr {
				flex-direction: column-reverse;
				}
				.-flex.-fd-r {
				flex-direction: row;
				}
				.-flex.-fd-rr {
				flex-direction: row-reverse;
				}
				.-flex.-ai-b {
				align-items: baseline;
				}
				.-flex.-ai-c {
				align-items: center;
				}
				.-flex.-ai-fe {
				align-items: flex-end;
				}
				.-flex.-ai-fs {
				align-items: flex-start;
				}
				.-flex.-ai-s {
				align-items: stretch;
				}
				.-flex.-jc-sa {
				justify-content: space-around;
				}
				.-flex.-jc-sb {
				justify-content: space-between;
				}
				.-flex.-jc-c {
				justify-content: center;
				}
				.-flex.-jc-fe {
				justify-content: flex-end;
				}
				.-flex.-jc-se {
				justify-content: space-evenly;
				}
				.-flex.-jc-fs {
				justify-content: flex-start;
				}