.zh-fade
	#chunk_591019.ghei_chunk
		div
		div
			.newStyle.firstchunk
				.container.bg-white(style='position: relative;')
					.container.max-width-f
						img.centerImage.zh-img-definition(alt='Illustration of Quiet Computing', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-1024x600.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-640x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/lessthan40dba-2560x1080.jpg')
					div(style='left: 0; position: absolute; top:0; width: 100%;')
						.container.max-width-d
							.row.gutter
								.col.a-12.gutter.padding-top-xl
									h2.fs-4.text-primary-dark.align-center
										span#placeholder_525737.ghei_placeholder Less than 40dBA