.zh-fade
	#chunk_591020.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.padding-top-m.padding-bottom-m
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1.c-6.c-offset-0
								h3.fs-2
									span#placeholder_525738.ghei_placeholder What is dBA?
								p.fs-0
									span#placeholder_525739.ghei_placeholder
										| dB (the acronym for decibel) is a unit of sound measurement. It measures the loudness of a sound or the strength of a signal, computed as the signal to noise ratio. However, although dB is commonly used when referring to measuring sound, humans do not hear all frequencies equally. For this reason, sound levels in the low frequency end of the spectrum are reduced as the human ear is less sensitive at low audio frequencies than at high audio frequencies. In order to account for this, different weightings (A, B, C, D and Z) have been created to give a loudness measurement that takes into account how the human ear actually perceives sound. This weighting is known as dBA.
							.col.gutter.a-12.b-10.b-offset-1.c-6.c-offset-0
								h3.fs-2
									span#placeholder_525740.ghei_placeholder How We Test the dBA Level
								p.fs-0
									span#placeholder_525741.ghei_placeholder
										| To establish the dBA levels of ConceptD devices the laptop or desktop is placed on an ISO 7779 table inside a semi-anechoic room. Placed 25cm for laptops and 50cm for desktops, is an artificial head which replicates a real user and is capable of measuring the precise sound quality.
								p.fs-0
									span#placeholder_525742.ghei_placeholder
										| The noise level of <40dBA is obtained using SPECviewperf
										sup ®
										|  13 benchmark conditions.