.zh-fade
	#chunk_591022.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.padding-top-m.padding-bottom-m
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1.c-offset-0
								h3.fs-2
									span#placeholder_525743.ghei_placeholder What is Delta E?
							.col.gutter.a-12.b-10.b-offset-1.c-8.c-offset-0
								p.fs-0
									span#placeholder_525744.ghei_placeholder
										| Delta E is used to ensure the color being displayed closely matches what the human eye receives. It is also the difference between two colors designated as two points in the CIELAB color space. The higher the Delta E value, the lower the color accuracy. The color reproduction capabilities of the ConceptD series is further enhanced through complex algorithms, precise white balance, and gamma correction to match colors to their exact hue. Further professional precision is achieved by finely-tuning and calibrating displays for lifelike color reproduction.
							.col.gutter.a-12.b-10.b-offset-1.c-4.c-offset-0
								p.fs-0.text-secondary-dark
									span#placeholder_525745.ghei_placeholder
										| ΔE < 1—indistinguishable difference
										br
										| ΔE < 2—extremely small difference, only obvious to a trained eye
										br
										| ΔE < 3—medium difference, obvious to an untrained eye
										br
										| ΔE < 5—an obvious difference
										br
										| ΔE > 6—a very obvious difference