.zh-fade
	#chunk_591023.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.padding-top-m.padding-bottom-l
						.row.gutter.-flex
							.col.gutter.a-12.c-8.-flex
								img.centerImage.zh-img-definition(alt='Illustration of Creative Professional Working with a ConceptD Device', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-640x640.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20190903/deltae-1440x800.jpg')
							.col.gutter.a-12.c-4.-flex.-ai-c
								div
									h3.fs-2
										span#placeholder_525747.ghei_placeholder Why Low Delta E Matters to Professionals
									p.fs-0
										span#placeholder_525748.ghei_placeholder
											| Creative professionals often need to have exact color replication. Displays with lower Delta E produce more accurate colors from in/out signals without color distortion, while also ensuring there is no color difference between multiple displays. For professionals who may work on one monitor and review on another, accurate and consistent color reproduction is key.