.zh-fade
	#chunk_763376.ghei_chunk
		div
		div
			.newStyle
				style.
					@media (min-width: 1024px) {
					#section-hdr1000 .row.-flex,
					#section-fastconnectivity .row.-flex {
					flex-direction: row-reverse;
					}
					}
				#section-hdr1000.container.bg-white
					.container.max-width-d.padding-top-l.padding-bottom-m
						.row.gutter.-flex
							.col.gutter.a-12.c-8.-flex
								img.centerImage.zh-img-definition(data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200312/hdr1000-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/brand-tech/20200316/hdr1000-large2.jpg')
							.col.gutter.a-12.c-4.-flex.-ai-c
								div
									h3.fs-2
										span#placeholder_634764.ghei_placeholder HDR1000
									p.fs-0
										span#placeholder_634765.ghei_placeholder
											| DisplayHDR 1000 displays offer a range of luminance similar to what a human eye can experience, and a much wider range of colors than traditional monitors. Our ConceptD displays take this brilliant performance to a new level with 1000 nits peak luminance, full direct-array backlight, incredibly accurate color gamut, and more.