.zh-fade
	#chunk_643092.ghei_chunk
		div
		div
			style.
				.newStyle > .container.max-width-e {
				max-width: 100%;
				}
				.flex-grid {
				display: flex;
				flex-wrap: wrap;
				}
				.flex-grid.-gutter {
				padding-left: 1em;
				padding-right: 1em;
				}
				.flex-grid.-spacing {
				margin-left: -1em;
				margin-right: -1em;
				}
				.flex-grid > .flex-col {
				width: 100%;
				}
				.flex-grid.-gutter > .flex-col,
				.flex-grid.-spacing > .flex-col {
				padding-left: 1em;
				padding-right: 1em;
				}
				@media (min-width: 640px) {
				.flex-grid > .flex-col.-b-6 {
				width: 50%;
				}
				}
				@media (min-width: 1024px) {
				.flex-grid > .flex-col.-c-6 {
				width: 50%;
				}
				}