.newStyle
	.row.container.max-width-e
		.zh-fade
			#chunk_643092.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.flex-grid {
						display: flex;
						flex-wrap: wrap;
						}
						.flex-grid.-gutter {
						padding-left: 1em;
						padding-right: 1em;
						}
						.flex-grid.-spacing {
						margin-left: -1em;
						margin-right: -1em;
						}
						.flex-grid > .flex-col {
						width: 100%;
						}
						.flex-grid.-gutter > .flex-col,
						.flex-grid.-spacing > .flex-col {
						padding-left: 1em;
						padding-right: 1em;
						}
						@media (min-width: 640px) {
						.flex-grid > .flex-col.-b-6 {
						width: 50%;
						}
						}
						@media (min-width: 1024px) {
						.flex-grid > .flex-col.-c-6 {
						width: 50%;
						}
						}
		.zh-fade
			#chunk_643093.ghei_chunk
				div
				div
					.newStyle
						style.
							#hero {
							background-image: url(//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191105/hero-small.jpg);
							background-position: center;
							background-size: cover;
							min-height: 70vh;
							max-height: 800px;
							}
							#hero > .container {
							max-width: 600px;
							}
							@media (min-width: 640px) {
							#hero {
							background-image: url(//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191105/hero-large.jpg);
							max-height: 1080px;
							}
							}
						.container.bg-white
							#hero.container.max-width-f
								.container
									.row.gutter
										.col.a-12.gutter.margin-top-l.margin-bottom-l
											h1.fs-3.bold.text-primary-light.align-center
												span#placeholder_574789.ghei_placeholder Green Packaging
											p.fs-1.text-primary-light.align-center
												span#placeholder_574790.ghei_placeholder
													| In an effort to reduce the impact that the manufacture and disposal of computer packaging has on the environment, ConceptD packaging is now almost 100 percent virgin plastic free and absolutely 100 percent recyclable.
		.zh-fade
			#chunk_643094.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d
								.row.gutter
									.col.a-12.gutter.margin-top-l
										h2.fs-2.bold.text-primary-dark.align-center
											span#placeholder_574791.ghei_placeholder Boxing
								.row.gutter
									.col.a-12.gutter.margin-bottom-m
										.flex-grid.-spacing
											p.flex-col.-b-6.fs-0.text-primary-dark
												span#placeholder_574792.ghei_placeholder
													| ConceptD products are boxed using 90 percent recycled cardboard and we have removed all LDPE foam packing without sacrificing any of the box’s protective qualities. In addition, to further reduce environmental impact we no longer put our cables in plastic bags.
											p.flex-col.-b-6.fs-0.text-primary-dark
												span#placeholder_574793.ghei_placeholder
													| According to 
													a(href='https://c.environmentalpaper.org/', target='_blank') EnvironmentalPaper.org
													|  it takes approximately 31 percent less energy to produce recycled paper and releases 44 percent less greenhouse gases. It also produces 53 percent less wastewater and results in 39 percent less solid waste. And, of course, it uses 90 percent fewer trees.
								.row.gutter
									.col.a-12.gutter.margin-bottom-l
										img.centerImage.zh-img-definition(alt='Packaging Overview', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg')
		.zh-fade
			#chunk_643095.ghei_chunk
				div
				div
					.newStyle
						style.
							#inksleeve-grid {
							margin-left: auto;
							margin-right: auto;
							max-width: 720px;
							}
							#inksleeve-grid .flex-col {
							display: flex;
							padding-top: 1em;
							padding-bottom: 1em;
							}
							#inksleeve-grid .content-box {
							background-color: white;
							border-radius: 10px;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							overflow: hidden;
							}
							#inksleeve-grid .content-box > .content-box-text {
							padding: 2em;
							}
							#inksleeve-grid .content-box > img {
							flex-shrink: 0; /* fix for IE image stretch */
							}
							@media (min-width: 1024px) {
							#inksleeve-grid {
							max-width: 100%;
							}
							}
						.container.bg-gray-1
							.container.max-width-d.padding-top-m.padding-bottom-m
								#inksleeve-grid.flex-grid.-gutter
									.flex-col.-c-6
										.content-box
											.content-box-text
												h2.fs-2.bold.text-primary-dark
													span#placeholder_574794.ghei_placeholder Ink
												p.fs-0.text-primary-dark
													span#placeholder_574795.ghei_placeholder
														| In recent years Soy Ink has revolutionized the environmental impact of traditional petroleum based inks and we’re pleased to confirm that all ConceptD materials are printed using this ink type. By using 100 percent soy ink, ConceptD is awarded the Soy Ink seal of approval by the America Soy Bean Association’s guidelines. 
														a(href='https://soygrowers.com/soy-ink-seal/', target='_blank') Read more about soy ink
														| .
											img.centerImage.zh-img-definition(alt='Printed with Soy Ink', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg')
									.flex-col.-c-6
										.content-box
											.content-box-text
												h2.fs-2.bold.text-primary-dark
													span#placeholder_574796.ghei_placeholder Computer Sleeve
												p.fs-0.text-primary-dark
													span#placeholder_574797.ghei_placeholder
														| ConceptD’s computer sleeves are made from recycled polyester rather than the more popular LDPE. Recycled polyester has the advantage over LDPE in that it’s made from recycled PET bottles and not ‘virgin’ material. This reduces the amount of energy used in production and removes plastic bottles from the environment.
											img.centerImage.zh-img-definition(alt='Printed with Soy Ink', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg')
