.zh-fade
	#chunk_643093.ghei_chunk
		div
		div
			.newStyle
				style.
					#hero {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191105/hero-small.jpg);
					background-position: center;
					background-size: cover;
					min-height: 70vh;
					max-height: 800px;
					}
					#hero > .container {
					max-width: 600px;
					}
					@media (min-width: 640px) {
					#hero {
					background-image: url(//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191105/hero-large.jpg);
					max-height: 1080px;
					}
					}
				.container.bg-white
					#hero.container.max-width-f
						.container
							.row.gutter
								.col.a-12.gutter.margin-top-l.margin-bottom-l
									h1.fs-3.bold.text-primary-light.align-center
										span#placeholder_574789.ghei_placeholder Green Packaging
									p.fs-1.text-primary-light.align-center
										span#placeholder_574790.ghei_placeholder
											| In an effort to reduce the impact that the manufacture and disposal of computer packaging has on the environment, ConceptD packaging is now almost 100 percent virgin plastic free and absolutely 100 percent recyclable.