.zh-fade
	#chunk_643094.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d
						.row.gutter
							.col.a-12.gutter.margin-top-l
								h2.fs-2.bold.text-primary-dark.align-center
									span#placeholder_574791.ghei_placeholder Boxing
						.row.gutter
							.col.a-12.gutter.margin-bottom-m
								.flex-grid.-spacing
									p.flex-col.-b-6.fs-0.text-primary-dark
										span#placeholder_574792.ghei_placeholder
											| ConceptD products are boxed using 90 percent recycled cardboard and we have removed all LDPE foam packing without sacrificing any of the box’s protective qualities. In addition, to further reduce environmental impact we no longer put our cables in plastic bags.
									p.flex-col.-b-6.fs-0.text-primary-dark
										span#placeholder_574793.ghei_placeholder
											| According to 
											a(href='https://c.environmentalpaper.org/', target='_blank') EnvironmentalPaper.org
											|  it takes approximately 31 percent less energy to produce recycled paper and releases 44 percent less greenhouse gases. It also produces 53 percent less wastewater and results in 39 percent less solid waste. And, of course, it uses 90 percent fewer trees.
						.row.gutter
							.col.a-12.gutter.margin-bottom-l
								img.centerImage.zh-img-definition(alt='Packaging Overview', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191223/Green-KSP-01_large.jpg')