.zh-fade
	#chunk_643095.ghei_chunk
		div
		div
			.newStyle
				style.
					#inksleeve-grid {
					margin-left: auto;
					margin-right: auto;
					max-width: 720px;
					}
					#inksleeve-grid .flex-col {
					display: flex;
					padding-top: 1em;
					padding-bottom: 1em;
					}
					#inksleeve-grid .content-box {
					background-color: white;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					overflow: hidden;
					}
					#inksleeve-grid .content-box > .content-box-text {
					padding: 2em;
					}
					#inksleeve-grid .content-box > img {
					flex-shrink: 0; /* fix for IE image stretch */
					}
					@media (min-width: 1024px) {
					#inksleeve-grid {
					max-width: 100%;
					}
					}
				.container.bg-gray-1
					.container.max-width-d.padding-top-m.padding-bottom-m
						#inksleeve-grid.flex-grid.-gutter
							.flex-col.-c-6
								.content-box
									.content-box-text
										h2.fs-2.bold.text-primary-dark
											span#placeholder_574794.ghei_placeholder Ink
										p.fs-0.text-primary-dark
											span#placeholder_574795.ghei_placeholder
												| In recent years Soy Ink has revolutionized the environmental impact of traditional petroleum based inks and we’re pleased to confirm that all ConceptD materials are printed using this ink type. By using 100 percent soy ink, ConceptD is awarded the Soy Ink seal of approval by the America Soy Bean Association’s guidelines. 
												a(href='https://soygrowers.com/soy-ink-seal/', target='_blank') Read more about soy ink
												| .
									img.centerImage.zh-img-definition(alt='Printed with Soy Ink', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/soy-ink-large.jpg')
							.flex-col.-c-6
								.content-box
									.content-box-text
										h2.fs-2.bold.text-primary-dark
											span#placeholder_574796.ghei_placeholder Computer Sleeve
										p.fs-0.text-primary-dark
											span#placeholder_574797.ghei_placeholder
												| ConceptD’s computer sleeves are made from recycled polyester rather than the more popular LDPE. Recycled polyester has the advantage over LDPE in that it’s made from recycled PET bottles and not ‘virgin’ material. This reduces the amount of energy used in production and removes plastic bottles from the environment.
									img.centerImage.zh-img-definition(alt='Printed with Soy Ink', data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-small.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/greener-packaging/20191107/computer-sleeve-large.jpg')