#chunk_841508 {
	.-flex {
		display: flex !important;
		flex-wrap: wrap;
		width: 100%;
	}
	.newStyle .-flex:before,
	.newStyle .-flex:after {
		content: '';
		display: none;
	}
	.-flex.-nowrap {
		flex-wrap: nowrap;
	}
	.-flex.-fd-c {
		flex-direction: column;
	}
	.-flex.-fd-cr {
		flex-direction: column-reverse;
	}
	.-flex.-fd-r {
		flex-direction: row;
	}
	.-flex.-fd-rr {
		flex-direction: row-reverse;
	}
	.-flex.-ai-b {
		align-items: baseline;
	}
	.-flex.-ai-c {
		align-items: center;
	}
	.-flex.-ai-fe {
		align-items: flex-end;
	}
	.-flex.-ai-fs {
		align-items: flex-start;
	}
	.-flex.-ai-s {
		align-items: stretch;
	}
	.-flex.-jc-sa {
		justify-content: space-around;
	}
	.-flex.-jc-sb {
		justify-content: space-between;
	}
	.-flex.-jc-c {
		justify-content: center;
	}
	.-flex.-jc-fe {
		justify-content: flex-end;
	}
	.-flex.-jc-se {
		justify-content: space-evenly;
	}
	.-flex.-jc-fs {
		justify-content: flex-start;
	}
	.-flex > .-as-b {
		align-self: baseline;
	}
	.-flex > .-as-c {
		align-self: center;
	}
	.-flex > .-as-fe {
		align-self: flex-end;
	}
	.-flex > .-as-fs {
		align-self: flex-start;
	}
	.-flex > .-as-s {
		align-self: stretch;
	}
	.newStyle .centerImage {
		width: 100%;
	}
	.newStyle .cdh-contentblock {
		background-color: #f5f5f5;
	}
	.newStyle .cdh-paddedblock {
		padding-bottom: 8px;
		padding-left: calc(0.7407407407vw + 13.3333333333px);
		padding-right: calc(0.7407407407vw + 13.3333333333px);
		padding-top: 8px;
	}
	@media (min-width: 1440px) {
		.newStyle .cdh-paddedblock {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}
