.newStyle
	.row.container.max-width-e
		.newStyle
			.container.secondLevelMenu.zh-menuSec.over
				.container.max-width-d
					.row.gutter
						.col.a-12.c-2.gutter.seriesName
							a.text-xs.bold.uppercase.no-underline.float-left(title='Brand', href='#')
								| Brand
							i.icon.icon-ai-arrow-down.align-center.iconCta
						.col.a-12.c-10.gutter.seriesNav
							nav
								ul
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Design', href='#')
											| Design
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Tech', href='#')
											| Tech
									li
										a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Events', href='vi/VN/content/conceptd-brand-events')
											| Events
		.zh-fade
			#chunk_590100.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
						font-weight: bold;
						line-height: 1.2;
						}
						.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
						font-size: 0.875em;
						font-weight: normal !important;
						text-transform: none;
						}
						.newStyle .secondLevelMenu .seriesName a {
						color: rgba(0, 0, 0, 0.4);
						}
						.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
						color: #bf9474;
						}
						.newStyle .secondLevelMenu .seriesNav ul li a.active {
						color: #dc582a;
						}
						@media (min-width: 1024px) {
						.firstchunk {
						margin-top: 62.8px;
						}
						.eventgallery {
						margin-left: auto;
						margin-right: auto;
						max-width: 90%;
						}
						}
		.zh-fade
			#chunk_590101.ghei_chunk
				div
				div
					.newStyle.firstchunk
						style.
							#computexintro {
							background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_640.jpg);
							background-position: center top;
							background-repeat: no-repeat;
							background-size: contain;
							padding: 128% 0 3% 0;
							}
							@media (min-width: 640px) {
							#computexintro {
							background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_1024.jpg);
							padding: 61.59375% 0 3% 0;
							}
							}
							@media (min-width: 1024px) {
							#computexintro {
							background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_2560.jpg);
							background-size: cover;
							min-height: 70vh;
							padding: 0;
							position: relative;
							}
							#computexintro-strip {
							display: flex;
							flex-direction: column;
							height: 100%;
							}
							#computexintro-strip-inner {
							background-color: rgba(255, 255, 255, 0.8);
							display: flex;
							flex-direction: column;
							justify-content: center;
							min-height: 70vh;
							padding: 3rem;
							}
							}
						#computexintro.container.max-width-f
							.container.max-width-e
								.row.gutter
									#computexintro-strip.col.gutter.a-12.c-offset-1.c-4
										#computexintro-strip-inner
											h2.text-primary-dark.fs-2
												span#placeholder_525749.ghei_placeholder Computex
											p.text-primary-dark.fs-0
												span#placeholder_525750.ghei_placeholder
													| To introduce ConceptD to a wider global audience, we took over a fashionable Taipei shopping district at the same time as Computex Taipei was taking place. Here, the audience was able to get their hands on the latest products for creators and listen to keynote speeches. Established in 1981, Computex Taipei is the leading global ICT and IoT show.
		.zh-fade
			#chunk_590102.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-e.margin-top-s.margin-bottom-l
								.eventgallery
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-1.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-2.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-3.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-4.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-5.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-6.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-7.jpg')
		.zh-fade
			#chunk_590103.ghei_chunk
				div
				div
					.newStyle
						style.
							@media (min-width: 1024px) {
							#c2intro .row {
							display: flex;
							align-items: center;
							}
							}
							.fluidiframecontainer {
							position: relative;
							width: 100%;
							}
							.fluidiframecontainer > iframe {
							display: block;
							height: 100%;
							left: 0;
							position: absolute;
							top: 0;
							width: 100%;
							}
							.fluidiframecontainer > iframe + .fill {
							padding-top: 56.25%;
							}
						#c2intro.container.bg-gray-1.padding-top-l.padding-bottom-l
							.container.max-width-e
								.row.gutter(id='')
									.col.gutter.a-12.c-offset-1.c-4
										h2.text-primary-dark.fs-2
											span#placeholder_525751.ghei_placeholder C2
										p.text-primary-dark.fs-0
											span#placeholder_525752.ghei_placeholder
												| To promote the new ConceptD brand and highlight the future of computing for creatives, Acer CEO Jason Chen joined other business leaders at the 2019 C2 Montréal. This event is considered to be the most forward-thinking business event in the world as it combines progressive and inspiring content in a highly creative, festival-like setting.
									.col.gutter.a-12.c-6
										.fluidiframecontainer
											iframe(src='https://www.youtube.com/embed/fEWkhCN-Nik', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
											.fill
		.zh-fade
			#chunk_590104.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-e.margin-top-l.margin-bottom-l
								.eventgallery
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-1.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-2.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-3.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-4.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-5.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-6.jpg')
									div
										img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/gallery-conceptd-at-c2-7.jpg')
			.zh-fade
				#chunk_590105.ghei_chunk
					div
					div
						style.
							/* https://github.com/kenwheeler/slick/ */ .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
							/* customization */
							.slick-track {
							display: flex;
							align-items: center;
							}
							.slick-slide img {
							border: 8px solid white;
							}
							@media (max-width: 1023.9999px) {
							.slick-slide img {
							max-height: 50vh;
							max-width: 100vw;
							}
							}
							.slick-prev,.slick-next {
							background: transparent;
							border: none;
							color: transparent;
							cursor: pointer;
							font-size: 0;
							line-height: 0;
							outline: none;
							position: absolute;
							top: 50%;
							-webkit-transform: translate(0, -50%);
							-ms-transform: translate(0, -50%);
							transform: translate(0, -50%);
							z-index: 2000;
							}
							.slick-prev {
							left: 0;
							}
							.slick-next {
							right: 0;
							}
							.slick-prev:before,.slick-next:before {
							color: white;
							font-family: "Acer Font Icon" !important;
							font-size: 48px;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							font-style: normal !important;
							font-variant: normal !important;
							font-weight: normal !important;
							line-height: 1;
							opacity: .75;
							text-transform: none !important;
							}
							.slick-prev:before {
							content: "\e00d";
							}
							.slick-next:before {
							content: "\e00e";
							}
							.slick-prev:hover:before,.slick-next:hover:before {
							opacity: 1;
							}
							@media (min-width: 1024px) {
							.slick-prev {
							left: -64px;
							}
							.slick-next {
							right: -64px;
							}
							.slick-prev:before,.slick-next:before {
							color: #999;
							font-size: 64px;
							}
							}
						script(type='text/javascript', src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190801/slick.min.js')
			.zh-fade
				#chunk_590106.ghei_chunk
					div
					div
						script.
							(function($){
							$(function(){
							$('.eventgallery').slick({
							variableWidth: true,
							response: [
							{
							breakpoint: 640,
							settings: {
							slidesToShow: 2,
							slidesToScroll: 1
							}
							}
							]
							})
							})
							})(jQuery)
