.zh-fade
	#chunk_590101.ghei_chunk
		div
		div
			.newStyle.firstchunk
				style.
					#computexintro {
					background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_640.jpg);
					background-position: center top;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 128% 0 3% 0;
					}
					@media (min-width: 640px) {
					#computexintro {
					background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_1024.jpg);
					padding: 61.59375% 0 3% 0;
					}
					}
					@media (min-width: 1024px) {
					#computexintro {
					background-image: url(https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190730/ConceptD-at-computex-2019-banner_2560.jpg);
					background-size: cover;
					min-height: 70vh;
					padding: 0;
					position: relative;
					}
					#computexintro-strip {
					display: flex;
					flex-direction: column;
					height: 100%;
					}
					#computexintro-strip-inner {
					background-color: rgba(255, 255, 255, 0.8);
					display: flex;
					flex-direction: column;
					justify-content: center;
					min-height: 70vh;
					padding: 3rem;
					}
					}
				#computexintro.container.max-width-f
					.container.max-width-e
						.row.gutter
							#computexintro-strip.col.gutter.a-12.c-offset-1.c-4
								#computexintro-strip-inner
									h2.text-primary-dark.fs-2
										span#placeholder_525749.ghei_placeholder Computex
									p.text-primary-dark.fs-0
										span#placeholder_525750.ghei_placeholder
											| To introduce ConceptD to a wider global audience, we took over a fashionable Taipei shopping district at the same time as Computex Taipei was taking place. Here, the audience was able to get their hands on the latest products for creators and listen to keynote speeches. Established in 1981, Computex Taipei is the leading global ICT and IoT show.