.zh-fade
	#chunk_590102.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-e.margin-top-s.margin-bottom-l
						.eventgallery
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-1.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-2.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-3.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-4.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-5.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-6.jpg')
							div
								img(src='https://static.acer.com/up/Resource/Acer/conceptD/event_page/20190731/gallery-conceptd-at-computex-7.jpg')