.zh-fade
	#chunk_590103.ghei_chunk
		div
		div
			.newStyle
				style.
					@media (min-width: 1024px) {
					#c2intro .row {
					display: flex;
					align-items: center;
					}
					}
					.fluidiframecontainer {
					position: relative;
					width: 100%;
					}
					.fluidiframecontainer > iframe {
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					}
					.fluidiframecontainer > iframe + .fill {
					padding-top: 56.25%;
					}
				#c2intro.container.bg-gray-1.padding-top-l.padding-bottom-l
					.container.max-width-e
						.row.gutter(id='')
							.col.gutter.a-12.c-offset-1.c-4
								h2.text-primary-dark.fs-2
									span#placeholder_525751.ghei_placeholder C2
								p.text-primary-dark.fs-0
									span#placeholder_525752.ghei_placeholder
										| To promote the new ConceptD brand and highlight the future of computing for creatives, Acer CEO Jason Chen joined other business leaders at the 2019 C2 Montréal. This event is considered to be the most forward-thinking business event in the world as it combines progressive and inspiring content in a highly creative, festival-like setting.
							.col.gutter.a-12.c-6
								.fluidiframecontainer
									iframe(src='https://www.youtube.com/embed/fEWkhCN-Nik', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
									.fill