extends _templates/_layout/_layout.pug

block var
	- let title = '3D Creators';
	- let bodyClass = '3d-creators-page';

block loading
block banner,breadcrumb
block main
	include _templates/3d-creators/c-1
block scripts
