extends _templates/_layout/_layout.pug

block var
	- let title = '3D Creators';
	- let bodyClass = '3d-creators-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		.row.container.max-width-e
			// SECTION 1
			include _templates/3d-creators/c-1
			// SECTION 2
			include _templates/3d-creators/c-2
			// SECTION 3
			include _templates/3d-creators/c-3
			// SECTION 4
			include _templates/3d-creators/c-4
			// SECTION 5
			include _templates/3d-creators/c-5
			// SECTION 6
			include _templates/3d-creators/c-6
			// SECTION 7
			include _templates/3d-creators/c-7
block scripts
