extends _templates/_layout/_layout.pug

block var
	- let title = 'Story | Brand-tech';
	- let bodyClass = 'brand-tech-page';

block loading
block banner,breadcrumb
block main
	include _templates/brand-tech/b-1
block scripts
