extends _templates/_layout/_layout.pug

block var
	- let title = 'Story | Brand-tech';
	- let bodyClass = 'brand-tech-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		.row.container.max-width-e
			// SECTION 1
			include _templates/brand-tech/b-1
			// SECTION 2
			include _templates/brand-tech/b-2
			// SECTION 3
			include _templates/brand-tech/b-3
			// SECTION 4
			include _templates/brand-tech/b-4
			// SECTION 5
			include _templates/brand-tech/b-5
			// SECTION 6
			include _templates/brand-tech/b-6
			// SECTION 7
			include _templates/brand-tech/b-7
			// SECTION 8
			include _templates/brand-tech/b-8
			// SECTION 9
			include _templates/brand-tech/b-9
			// SECTION 10
			include _templates/brand-tech/b-10
			// SECTION 11
			include _templates/brand-tech/b-11
block scripts
