extends _templates/_layout/_layout.pug

block var
	- let title = 'Developers';
	- let bodyClass = 'developers-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		.row.container.max-width-e
			// SECTION 1
			include _templates/developers/d-1
			// SECTION 2
			include _templates/developers/d-2
			// SECTION 3
			include _templates/developers/d-3
			// SECTION 4
			include _templates/developers/d-4
			// SECTION 5
			include _templates/developers/d-5
			// SECTION 6
			include _templates/developers/d-6
block scripts
