extends _templates/_layout/_layout.pug

block var
	- let title = 'Developers';
	- let bodyClass = 'developers-page';

block loading
block banner,breadcrumb
block main
	include _templates/developers/d-1
block scripts
