extends _templates/_layout/_layout.pug

block var
	- let title = 'Events';
	- let bodyClass = 'events-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		.row.container.max-width-e
			// SECTION 1
			include _templates/events/e-1
			// SECTION 2
			include _templates/events/e-2
			// SECTION 3
			include _templates/events/e-3
			// SECTION 4
			include _templates/events/e-4
			// SECTION 5
			include _templates/events/e-5
			// SECTION 6
			include _templates/events/e-6
block scripts
