extends _templates/_layout/_layout.pug

block var
	- let title = 'Green Packaging';
	- let bodyClass = 'green-packaging-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		.row.container.max-width-e
			// SECTION 1
			include _templates/green-packaging/g-1
			// SECTION 2
			include _templates/green-packaging/g-2
			// SECTION 3
			include _templates/green-packaging/g-3
			// SECTION 4
			include _templates/green-packaging/g-4
block scripts
