extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
block banner,breadcrumb
block main
	.newStyle
		// SECTION 1
		include _templates/index/i-1
		// SECTION 2
		include _templates/index/i-2
		// SECTION 3
		include _templates/index/i-3
		// SECTION 4
		include _templates/index/i-4
		// SECTION 5
		include _templates/index/i-5
		// SECTION 6
		include _templates/index/i-6
		// SECTION 7
		include _templates/index/i-7
		// SECTION 8
		include _templates/index/i-8
		// SECTION 9
		include _templates/index/i-9
block scripts
