block var

doctype html

html(lang="en")
	head
		title Ngôn Ngữ
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/main.min.css")
		link(href='https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese', rel='stylesheet')
	body
		#mainOptions.mainOptionsHP
			h1
				img(src='./assets/images/logo.svg', width='100%', height='100%', alt='ConceptD logo')
		div
			#languageContent.bh-languageContainer
				ul.bh-languageList
					li.graySubTTSBold24
						a(href='#') América Latina - Español
					li.graySubTTSBold24
						a(href='#') Australia - English
					li.graySubTTSBold24
						a(href='#') België - Nederlands
					li.graySubTTSBold24
						a(href='#') Belgique - Français
					li.graySubTTSBold24
						a(href='#') Brasil - Português
					li.graySubTTSBold24
						a(href='#') Canada - English
					li.graySubTTSBold24
						a(href='#') Canada - Français
					li.graySubTTSBold24
						a(href='#') Česká Republika - Čeština
					li.graySubTTSBold24
						a(href='#') Chile - Español
					li.graySubTTSBold24
						a(href='#') Denmark - English
					li.graySubTTSBold24
						a(href='#') Deutschland - Deutsch
					li.graySubTTSBold24
						a(href='#') España - Español
					li.graySubTTSBold24
						a(href='#') Estonia - English
					li.graySubTTSBold24
						a(href='#') Finland - English
					li.graySubTTSBold24
						a(href='#') France - Français
					li.graySubTTSBold24
						a(href='#') Hrvatska - Hrvatski
					li.graySubTTSBold24
						a(href='#') India - English
					li.graySubTTSBold24
						a(href='#') Indonesia - English
					li.graySubTTSBold24
						a(href='#') Israel - English
					li.graySubTTSBold24
						a(href='#') Italia - Italiano
					li.graySubTTSBold24
						a(href='#') Lithuania - English
					li.graySubTTSBold24
						a(href='#') Latvia - English
					li.graySubTTSBold24
						a(href='#') Magyarország - Magyar
					li.graySubTTSBold24
						a(href='#') Malaysia - English
					li.graySubTTSBold24
						a(href='#') México - Español
					li.graySubTTSBold24
						a(href='#') Middle East - English
					li.graySubTTSBold24
						a(href='#') Nederland - Nederlands
					li.graySubTTSBold24
						a(href='#') New Zealand - English
					li.graySubTTSBold24
						a(href='#') Norway - English
					li.graySubTTSBold24
						a(href='#') Österreich - Deutsch
					li.graySubTTSBold24
						a(href='#') Philippines - English
					li.graySubTTSBold24
						a(href='#') Polska - Polski
					li.graySubTTSBold24
						a(href='#') Portugal - Português
					li.graySubTTSBold24
						a(href='#') România - Română
					li.graySubTTSBold24
						a(href='#') Schweiz - Deutsch
					li.graySubTTSBold24
						a(href='#') Singapore - English
					li.graySubTTSBold24
						a(href='#') Slovenia - English
					li.graySubTTSBold24
						a(href='#') South Africa - English
					li.graySubTTSBold24
						a(href='#') Srbija - Srpski
					li.graySubTTSBold24
						a(href='#') Suisse - Français
					li.graySubTTSBold24
						a(href='#') Sweden - English
					li.graySubTTSBold24
						a(href='#') Türkiye - Türkçe
					li.graySubTTSBold24
						a(href='#') United Kingdom - English
					li.graySubTTSBold24
						a(href='#') United States - English
					li.graySubTTSBold24
						a(href='#') Viet Nam - English
					li.graySubTTSBold24
						a(href='#') Ελλάδα - Ελληνικά
					li.graySubTTSBold24
						a(href='#') България - Български
					li.graySubTTSBold24
						a(href='#') Россия - Русский
					li.graySubTTSBold24
						a(href='#') Украина - Русский
					li.graySubTTSBold24
						a(href='#') ไทย - ไทย
					li.graySubTTSBold24
						a(href='#') 대한민국 - 한국어
					li.graySubTTSBold24
						a(href='#') 台灣 - 繁體中文
					li.graySubTTSBold24
						a(href='#') 日本 - 日本語
					li.graySubTTSBold24
						a(href='#') 香港特別行政區 - 繁體中文
					li.graySubTTSBold24
						a(href='#') Hong Kong - English
	script(type="text/javascript", src="./js/core.min.js")
	script(type="text/javascript", src="./js/main.min.js")
	block scripts
