.newStyle
	.row.container.max-width-e
		.newStyle
			.container.secondLevelMenu.zh-menuSec.over
				.container.max-width-d
					.row.gutter
						.col.a-12.c-10.c-offset-2.gutter.seriesNav
							nav
								ul
									li
										a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='2D Creators', href='#')
											| 2D Creators
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='3D Creators', href='#')
											| 3D Creators
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Developers', href='#')
											| Developers
		.zh-fade
			#chunk_630955.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
						font-weight: bold;
						}
						.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
						font-size: 0.875em;
						font-weight: normal !important;
						text-transform: none;
						}
						.newStyle .secondLevelMenu .seriesName a {
						color: rgba(0, 0, 0, 0.4);
						}
						.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
						color: #bf9474;
						}
						.newStyle .secondLevelMenu .seriesNav ul li a.active {
						color: #dc582a;
						}
						@media (min-width: 1024px) {
						.firstchunk {
						margin-top: 62.8px;
						}
						.-dtflex {
						align-items: center;
						display: flex;
						justify-content: center;
						}
						.-dtflex.-dtreverse {
						flex-direction: row-reverse;
						}
						}
		.zh-fade
			#chunk_630956.ghei_chunk
				div
				div
					.newStyle.firstchunk
						.container.max-width-f
							img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg')
		.zh-fade
			#chunk_630957.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d.margin-top-l.margin-bottom-m
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2.bold
											span#placeholder_563272.ghei_placeholder Designed for Designers
										p.fs-0
											span#placeholder_563273.ghei_placeholder
												| Whilst it is true that almost any laptop or desktop can be used by graphic designers to produce 2D images, ConceptD devices provide a combination of features that help professionals see on the screen what will be reproduced in print. This is achieved through the use of greater color accuracy.
		.zh-fade
			#chunk_630958.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d.margin-top-s.margin-bottom-l
								.row.gutter.-dtflex.-dtreverse
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563274.ghei_placeholder Introduction to Color
										p.fs-0
											span#placeholder_563275.ghei_placeholder
												| When you are editing photographs or designing posters in 2D, you need to know that what see on the screen is what will be reproduced by the printer. When it comes to the precise depiction of colors, nothing matches the industry-leading Pantone system. A Pantone Validated Display enables you to make color critical decisions through every stage of the workflow for everything from graphic design to 4K video production. When combined with 100% Adobe RGB gamut, you are guaranteed to get the most vivid, accurate color schemes on the market.
		.zh-fade
			#chunk_630959.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-0
							.container.max-width-d.margin-top-l.margin-bottom-m
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563276.ghei_placeholder Pantone Validated
										p.fs-0
											span#placeholder_563277.ghei_placeholder
												| Professional creators know colors have meaning and evoke specific emotions. To let your creative work truly shine, color accuracy is key. Only with a Pantone Validated Display can you see colors like they truly are, appearing identical to printed colors following the Pantone Matching System. Tested and calibrated by professionals, for professionals to ensure inscrutable accuracy right out of the box without any additional calibration needed.
		.zh-fade
			#chunk_630960.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-0
							.container.max-width-d.margin-top-s.margin-bottom-l
								.row.gutter.-dtflex.-dtreverse
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563278.ghei_placeholder Powerful Processing
										p.fs-0
											span#placeholder_563279.ghei_placeholder
												| When you are working on new ideas, you can never have enough of one thing: power. The power to work on multiple things at once, and the power to get big things done. Whether you’re designing web content or editing gigabytes-worth of 4K videos, the latest processors in your device ensures your performance never lags behind.
