.zh-fade
	#chunk_630956.ghei_chunk
		div
		div
			.newStyle.firstchunk
				.container.max-width-f
					img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/top-banner-large.jpg')