.zh-fade
	#chunk_630957.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.margin-top-l.margin-bottom-m
						.row.gutter.-dtflex
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/designed-for-designers-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2.bold
									span#placeholder_563272.ghei_placeholder Designed for Designers
								p.fs-0
									span#placeholder_563273.ghei_placeholder
										| Whilst it is true that almost any laptop or desktop can be used by graphic designers to produce 2D images, ConceptD devices provide a combination of features that help professionals see on the screen what will be reproduced in print. This is achieved through the use of greater color accuracy.