.zh-fade
	#chunk_630958.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.margin-top-s.margin-bottom-l
						.row.gutter.-dtflex.-dtreverse
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/introduction-to-color-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563274.ghei_placeholder Introduction to Color
								p.fs-0
									span#placeholder_563275.ghei_placeholder
										| When you are editing photographs or designing posters in 2D, you need to know that what see on the screen is what will be reproduced by the printer. When it comes to the precise depiction of colors, nothing matches the industry-leading Pantone system. A Pantone Validated Display enables you to make color critical decisions through every stage of the workflow for everything from graphic design to 4K video production. When combined with 100% Adobe RGB gamut, you are guaranteed to get the most vivid, accurate color schemes on the market.