.zh-fade
	#chunk_630959.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-0
					.container.max-width-d.margin-top-l.margin-bottom-m
						.row.gutter.-dtflex
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/pantone-validated-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563276.ghei_placeholder Pantone Validated
								p.fs-0
									span#placeholder_563277.ghei_placeholder
										| Professional creators know colors have meaning and evoke specific emotions. To let your creative work truly shine, color accuracy is key. Only with a Pantone Validated Display can you see colors like they truly are, appearing identical to printed colors following the Pantone Matching System. Tested and calibrated by professionals, for professionals to ensure inscrutable accuracy right out of the box without any additional calibration needed.