.zh-fade
	#chunk_630960.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-0
					.container.max-width-d.margin-top-s.margin-bottom-l
						.row.gutter.-dtflex.-dtreverse
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-2d-designers/20191024/powerful-processing-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563278.ghei_placeholder Powerful Processing
								p.fs-0
									span#placeholder_563279.ghei_placeholder
										| When you are working on new ideas, you can never have enough of one thing: power. The power to work on multiple things at once, and the power to get big things done. Whether you’re designing web content or editing gigabytes-worth of 4K videos, the latest processors in your device ensures your performance never lags behind.