.newStyle
	.container.secondLevelMenu.zh-menuSec.over
		.container.max-width-d
			.row.gutter
				.col.a-12.c-2.gutter.seriesName
					a.active.text-xs.bold.uppercase.no-underline.float-left(title='Brand', href='vi/VN/content/conceptd-brand-story')
						| Brand
					i.icon.icon-ai-arrow-down.align-center.iconCta
				.col.a-12.c-10.gutter.seriesNav
					nav
						ul
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Design', href='vi/VN/content/conceptd-brand-design')
									| Design
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Tech', href='vi/VN/content/conceptd-brand-tech')
									| Tech
							li
								a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Events', href='vi/VN/content/conceptd-brand-events')
									| Events