.zh-fade(style='opacity: 1;')
	#chunk_589694.ghei_chunk
		div
		div
			.newStyle
				style.
					#conceptdintro {
					background-image: url(./assets/images/brand-story/conceptd-brand-intro-bg-small.jpg);
					background-position: center bottom;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 3% 0 103% 0;
					}
					@media (min-width: 640px) {
					#conceptdintro {
					background-image: url(./assets/images/brand-story/conceptd-brand-intro-bg-medium.jpg);
					padding: 3% 0 61.59375% 0;
					}
					}
					@media (min-width: 1024px) {
					#conceptdintro {
					background-image: url(./assets/images/brand-story/conceptd-brand-intro-bg-large.jpg);
					background-size: cover;
					min-height: 60vh;
					padding: 0;
					position: relative;
					}
					#conceptdintro-strip {
					display: flex;
					flex-direction: column;
					height: 100%;
					}
					#conceptdintro-strip-inner {
					display: flex;
					flex-direction: column;
					justify-content: center;
					min-height: 60vh;
					padding: 3rem;
					}
					}
				#conceptdintro.container.max-width-f
					.container.max-width-d
						.row.gutter
							#conceptdintro-strip.col.gutter.a-12.b-10.b-offset-1.c-5.c-offset-0
								#conceptdintro-strip-inner
									h2.text-primary-dark.fs-2.a-align-center.b-align-center
										span#placeholder_525721.ghei_placeholder Introducing ConceptD
									p.text-primary-dark.fs-0.a-align-center.b-align-center
										span#placeholder_525722.ghei_placeholder
											| ConceptD is a fresh approach to computing that overcomes the barriers between people and technology and enables creators to unleash their full potential.
									p.text-primary-dark.fs-0.a-align-center.b-align-center
										span#placeholder_525723.ghei_placeholder
											| It is not merely about making things different, but about setting new benchmarks and breaking new ground.