.zh-fade(style='opacity: 1;')
	#chunk_589695.ghei_chunk
		div
		div
			.newStyle
				style.
					#conceptdorigin {
					background-image: url(./assets/images/brand-story/conceptd-brand-origin-bg-small.jpg);
					background-position: center bottom;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 3% 0 103% 0;
					}
					@media (min-width: 640px) {
					#conceptdorigin {
					background-image: url(./assets/images/brand-story/conceptd-brand-origin-bg-medium.jpg);
					padding: 3% 0 61.59375% 0;
					}
					}
					@media (min-width: 1024px) {
					#conceptdorigin {
					background-image: url(./assets/images/brand-story/conceptd-brand-origin-bg-large.jpg);
					background-size: cover;
					min-height: 60vh;
					padding: 0;
					position: relative;
					}
					#conceptdorigin-strip {
					display: flex;
					flex-direction: column;
					height: 100%;
					}
					#conceptdorigin-strip-inner {
					display: flex;
					flex-direction: column;
					justify-content: center;
					min-height: 60vh;
					padding: 3rem;
					}
					}
				#conceptdorigin.container.max-width-f
					.container.max-width-d
						.row.gutter
							#conceptdorigin-strip.col.gutter.a-12.b-10.b-offset-1.c-5.c-offset-7
								#conceptdorigin-strip-inner
									h2.text-primary-dark.fs-2.a-align-center.b-align-center
										span#placeholder_525724.ghei_placeholder The Origin of ConceptD
									p.text-primary-dark.fs-0.a-align-center.b-align-center
										span#placeholder_525725.ghei_placeholder
											| ConceptD was born out of a belief that designers achieve their best work when they reach their own definition of perfection. Independent research discovered that 15% of gaming device users never install games, and that 50% use both gaming and creative software. This is why we have created a brand that specifically meets the needs of creators. The brand launch is not the destination but the beginning of a journey as we continue to listen to creators’ needs.