.zh-fade(style='opacity: 1;')
	#chunk_589696.ghei_chunk
		div
		div
			.newStyle
				style.
					@media (min-width: 1024px) {
					#behindthename .row {
					display: flex;
					align-items: center;
					}
					}
				#behindthename.container.bg-white
					.container.max-width-d
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1.c-5.c-offset-0.padding-top-l.padding-bottom-l
								h2.text-primary-dark.fs-2.a-align-center.b-align-center
									span#placeholder_525726.ghei_placeholder Behind the Name
								p.text-primary-dark.fs-0.a-align-center.b-align-center
									span#placeholder_525727.ghei_placeholder
										| ConceptD derives its name from two distinct entities. Firstly, a “Concept” is an idea that is still forming: a vision for what could be. “D” is open to interpretation and represents whatever the creator desires whether that’s dynamism, design, discovery, detail, development or something else entirely.
							.col.gutter.a-12.b-10.b-offset-1.c-7.c-offset-0.padding-top-l.padding-bottom-l.a-padding-top-0.b-padding-top-0
								img(alt='ConceptD logo design', src='./assets/images/brand-story/ConceptD-brand-page-03_1440.jpg')