.newStyle
	.row.container.max-width-e
		.newStyle
			.container.secondLevelMenu.zh-menuSec.over
				.container.max-width-d
					.row.gutter
						.col.a-12.c-10.c-offset-2.gutter.seriesNav
							nav
								ul
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='2D Creators', href='#')
											| 2D Creators
									li
										a.active.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='3D Creators', href='#')
											| 3D Creators
									li
										a.text-xs.bold.text-tertiary-dark.uppercase.no-underline(title='Developers', href='#')
											| Developers
		.zh-fade
			#chunk_631303.ghei_chunk
				div
				div
					style.
						.newStyle > .container.max-width-e {
						max-width: 100%;
						}
						.newStyle h1, .newStyle h2, .newStyle h3, .newStyle h4, .newStyle h5, .newStyle h6 {
						font-weight: bold;
						}
						.newStyle .secondLevelMenu .seriesName a, .newStyle .secondLevelMenu .seriesNav ul li a  {
						font-size: 0.875em;
						font-weight: normal !important;
						text-transform: none;
						}
						.newStyle .secondLevelMenu .seriesName a {
						color: rgba(0, 0, 0, 0.4);
						}
						.newStyle .secondLevelMenu .seriesName a:hover, .newStyle .secondLevelMenu .seriesNav ul li a:hover {
						color: #bf9474;
						}
						.newStyle .secondLevelMenu .seriesNav ul li a.active {
						color: #dc582a;
						}
						@media (min-width: 1024px) {
						.firstchunk {
						margin-top: 62.8px;
						}
						.-dtflex {
						align-items: center;
						display: flex;
						justify-content: center;
						}
						.-dtflex.-dtreverse {
						flex-direction: row-reverse;
						}
						}
		.zh-fade
			#chunk_631304.ghei_chunk
				div
				div
					.newStyle.firstchunk
						.container.max-width-f
							img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/top-banner-large.jpg')
		.zh-fade
			#chunk_631305.ghei_chunk
				div
				div
					.newStyle
						.container.bg-white
							.container.max-width-d.margin-top-l.margin-bottom-l
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563576.ghei_placeholder Create Without Boundaries
										p.fs-0
											span#placeholder_563577.ghei_placeholder
												| As designs become more complex, visual effects grow in size, complexity, and scope they demand even more power. ConceptD machines use the latest NVIDIA
												sup ®
												|  Quadro RTX™ and GeForce RTX™ graphics cards to provide unmatched power for unrivaled creative freedom in areas like 3D animation workflows and ultra-high quality video. Enjoy greater fluidity with photorealistic rendering, experience faster performance with professional applications and create detailed, lifelike motion graphics and animations.
		.zh-fade
			#chunk_631306.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-m.margin-bottom-s
								.row.gutter
									.col.gutter.a-12
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/introducing-color-large.jpg')
									.col.gutter.a-12
										.container(style='max-width: 640px;')
											h2.fs-2
												span#placeholder_563578.ghei_placeholder Introducing Color
											p.fs-0
												span#placeholder_563579.ghei_placeholder
													| When you are sculpting new worlds, you need your work to be as true-to-life as possible. And when it comes to the precise depiction of colors, nothing matches the industry-leading Pantone system. A Pantone Validated Display enables you to make color critical decisions through every stage of the workflow for everything from graphic design to 4K video production. When combined with 100% Adobe RGB gamut, you are guaranteed to get the most vivid, accurate color schemes on the market.
		.zh-fade
			#chunk_631307.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-m.margin-bottom-s
								.row.gutter.-dtflex
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563580.ghei_placeholder Powerful CPUs
										p.fs-0
											span#placeholder_563581.ghei_placeholder
												| Bringing your ideas to life is a demanding task – both for you and your computer. To get the best results, you need to use the best tools available: like the latest processors to take full advantage of modern 3D design applications and features. You’ll get seamless multitasking while easily handling your highest workload – letting you get more done in even less time.
		.zh-fade
			#chunk_631308.ghei_chunk
				div
				div
					.newStyle
						.container.bg-gray-1
							.container.max-width-d.margin-top-m.margin-bottom-l
								.row.gutter.-dtflex.-dtreverse
									.col.gutter.a-12.c-8
										img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg')
									.col.gutter.a-12.c-4
										h2.fs-2
											span#placeholder_563583.ghei_placeholder Graphical Power
										p.fs-0
											span#placeholder_563584.ghei_placeholder
												| To get the most performance out of your computer, the graphics card is as equally important as the processor. With the latest NVIDIA’s GeForce
												sup ®
												|  and Quadro RTX™ technology, the GPU easily accelerates your work with incredible boosts in speed. Less time staring at pinwheels gives you more time to handle bigger workloads and create your work faster than ever. GPU-accelerated Ray Tracing in renderers like 3ds Max or Blender further lets you review your photorealistic graphics in real-time as you’re creating.
