.zh-fade
	#chunk_631305.ghei_chunk
		div
		div
			.newStyle
				.container.bg-white
					.container.max-width-d.margin-top-l.margin-bottom-l
						.row.gutter.-dtflex
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/create-without-boundaries-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563576.ghei_placeholder Create Without Boundaries
								p.fs-0
									span#placeholder_563577.ghei_placeholder
										| As designs become more complex, visual effects grow in size, complexity, and scope they demand even more power. ConceptD machines use the latest NVIDIA
										sup ®
										|  Quadro RTX™ and GeForce RTX™ graphics cards to provide unmatched power for unrivaled creative freedom in areas like 3D animation workflows and ultra-high quality video. Enjoy greater fluidity with photorealistic rendering, experience faster performance with professional applications and create detailed, lifelike motion graphics and animations.