.zh-fade
	#chunk_631307.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.margin-top-m.margin-bottom-s
						.row.gutter.-dtflex
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/powerful-cpus-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563580.ghei_placeholder Powerful CPUs
								p.fs-0
									span#placeholder_563581.ghei_placeholder
										| Bringing your ideas to life is a demanding task – both for you and your computer. To get the best results, you need to use the best tools available: like the latest processors to take full advantage of modern 3D design applications and features. You’ll get seamless multitasking while easily handling your highest workload – letting you get more done in even less time.