.zh-fade
	#chunk_631308.ghei_chunk
		div
		div
			.newStyle
				.container.bg-gray-1
					.container.max-width-d.margin-top-m.margin-bottom-l
						.row.gutter.-dtflex.-dtreverse
							.col.gutter.a-12.c-8
								img.centerImage.zh-img-definition(data-viewport-c='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-d='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-e='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-b='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg', data-viewport-a='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-small.jpg', src='//static.acer.com/up/Resource/Acer/conceptD/seg-3d-designers/20191024/graphical-power-large.jpg')
							.col.gutter.a-12.c-4
								h2.fs-2
									span#placeholder_563583.ghei_placeholder Graphical Power
								p.fs-0
									span#placeholder_563584.ghei_placeholder
										| To get the most performance out of your computer, the graphics card is as equally important as the processor. With the latest NVIDIA’s GeForce
										sup ®
										|  and Quadro RTX™ technology, the GPU easily accelerates your work with incredible boosts in speed. Less time staring at pinwheels gives you more time to handle bigger workloads and create your work faster than ever. GPU-accelerated Ray Tracing in renderers like 3ds Max or Blender further lets you review your photorealistic graphics in real-time as you’re creating.