.newStyle
	#chunk_841489.ghei_chunk
		div
		div
			style.
				.-flex {
				display: flex !important;
				flex-wrap: wrap;
				width: 100%;
				}
				.newStyle .-flex:before,
				.newStyle .-flex:after {
				content: '';
				display: none;
				}
				.-flex.-nowrap {
				flex-wrap: nowrap;
				}
				.-flex.-fd-c {
				flex-direction: column;
				}
				.-flex.-fd-cr {
				flex-direction: column-reverse;
				}
				.-flex.-fd-r {
				flex-direction: row;
				}
				.-flex.-fd-rr {
				flex-direction: row-reverse;
				}
				.-flex.-ai-b {
				align-items: baseline;
				}
				.-flex.-ai-c {
				align-items: center;
				}
				.-flex.-ai-fe {
				align-items: flex-end;
				}
				.-flex.-ai-fs {
				align-items: flex-start;
				}
				.-flex.-ai-s {
				align-items: stretch;
				}
				.-flex.-jc-sa {
				justify-content: space-around;
				}
				.-flex.-jc-sb {
				justify-content: space-between;
				}
				.-flex.-jc-c {
				justify-content: center;
				}
				.-flex.-jc-fe {
				justify-content: flex-end;
				}
				.-flex.-jc-se {
				justify-content: space-evenly;
				}
				.-flex.-jc-fs {
				justify-content: flex-start;
				}
				.-flex > .-as-b {
				align-self: baseline
				}
				.-flex > .-as-c {
				align-self: center;
				}
				.-flex > .-as-fe {
				align-self: flex-end;
				}
				.-flex > .-as-fs {
				align-self: flex-start;
				}
				.-flex > .-as-s {
				align-self: stretch;
				}
	#chunk_676081.ghei_chunk
		div
		div
			.newStyle
				style.
					#herobanner {
					align-items: center;
					background-color: #000;
					display: flex;
					height: 70vh;
					overflow: hidden;
					position: relative;
					}
					#herobanner video {
					height: 100%;
					left: 50%;
					min-height: 100%;
					min-width: 100%;
					object-fit: cover;
					position: absolute;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					width: auto;
					z-index: 0;
					}
					#herobanner-content {
					color: #dc582a;
					margin: 0 auto;
					position: relative;
					width: 100%;
					z-index: 2;
					}
					#herobanner-content h1 {
					letter-spacing: 0.2em;
					}
				.container.bg-white
					#herobanner.container.max-width-f
						video(autoplay='', loop='', muted='', playsinline='', __idm_id__='335387649')
							source(src='./assets/videos/decoded-herovideo-2.mp4', type='video/mp4')
						div(style='background-color: rgba(0,0,0,.1); height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1')
						#herobanner-content.container.max-width-d
							.row.gutter
								.col.gutter.a-12.b-10.b-offset-1
									h1.fs-6.bold.align-center.uppercase
										span#placeholder_602487.ghei_placeholder Creativity Decoded
									div(style='text-align: center; width: 100%;')
										a.button.emptyOrange(href='no/NO/content/conceptd-creativity-decoded')
											span#appMessage_Explore.ghei_appMessage Utforsk
	#highlight-custom.newStyle
		.container.bg-white
			.container.max-width-d.margin-top-s.margin-bottom-0
				.row.gutter-half.flex-view
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/homepage-banner-2d.jpg', alt='ConceptD Homepage Banner - 2D Creators', title='ConceptD Homepage Banner - 2D Creators')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| 2D
									p.text-secondary-dark.align-left
										| ConceptD gir skapere av kreativt 2D-innhold muligheten til å realisere sitt fulle potensial og gjør dem i stand til å skape sine egne unike historier.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/homepage-banner-3d.jpg', alt='ConceptD Homepage Banner - 3D Creators', title='ConceptD Homepage Banner - 3D Creators')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| 3D
									p.text-secondary-dark.align-left
										| Med ConceptD kan 3D-designere sprenge grenser når de skal sette ideene sine ut i livet, uansett hvor intensiv oppgaven er.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/homepage-banner-developers.jpg', alt='ConceptD Homepage Banner - Developers', title='ConceptD Homepage Banner - Developers')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| Utviklere
									p.text-secondary-dark.align-left
										| Med moderne teknologier som kunstig intelligens oppstår unike utfordringer som må håndteres. Oppdag ConceptD-verktøyene, som gir flere muligheter for alle typer utviklere.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/ISV_homepage_banner.jpg', alt='ISV_homepage_banner', title='ISV_homepage_banner')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| ISV
									p.text-secondary-dark.align-left
										| Acer investerer i testing, kontroll og partnersamarbeid for å sikre at ConceptD-produkter fungerer pålitelig med profesjonelle programmer fra verdensledende ISV-er (Independent Software Vendor, uavhengig programvareleverandør).
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
	#conceptd_500_cp7.newStyle
		.container.bg-white
			.container.max-width-d.margin-top-s.margin-bottom-s
				.row.gutter-half.flex-view
					.col.a-12.b-6.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/ConceptD_500_720x400.jpg', alt='ConceptD_500_Large', title='ConceptD_500_Large')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
										| ConceptD 500
									p.text-secondary-dark.align-left
										| Den attraktive og stilige ConceptD 500 har den nyeste Intel
										sup ®
										|  Core™ i9-CPU-en og en NVIDIA
										sup ®
										|  Quadro RTX™ 4000 for å levere pålitelig databehandling for komplekse kreative prosjekter.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/ConceptD_CP7271K-P_720x400.jpg', alt='ConceptD_CP7271K-P_Large', title='ConceptD_CP7271K-P_Large')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
										| ConceptD CP7
									p.text-secondary-dark.align-left
										| Den første skreddersydde 4K-skjermen for CG-skapere med stor fargenøyaktighet, omfattende fargeskala og høy oppdateringshastighet
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
	#conceptd_cd9_7.newStyle
		.container.bg-white
			.container.max-width-d.margin-top-0.margin-bottom-0
				.row.gutter-half.flex-view
					.col.a-12.b-6.gutter-half.flex-view.margin-top-0.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/ConceptD-9-Pro_720x400.jpg', alt='ConceptD 9 Pro', title='ConceptD 9 Pro')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
										| ConceptD 9 Pro
									p.text-secondary-dark.align-left
										| ConceptD 9 Pro har all kraften som trengs for kreative oppgaver og er den ideelle bærbare PC-en for krevende 3D-arbeid. 4K UHD-skjermen gir profesjonell presisjon og fargenøyaktighet.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.gutter-half.flex-view.margin-top-0.margin-bottom-0
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/ConceptD_7_720x400.jpg', alt='ConceptD_7_Large', title='ConceptD_7_Large')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
										| ConceptD 7
									p.text-secondary-dark.align-left
										| Jobb med forbedret hastighet og effektivitet med den slanke, topp moderne bærbare PC-en ConceptD 7.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
	#chunk_841613.ghei_chunk
		div
		div
			.container.max-width-d.margin-top-m.margin-bottom-0
				style.
					#cdhb-partnerships {
					background-image: url(./assets/images/index/cdhb-partnerships-small.jpg);
					background-position: 65% 50%;
					background-size: cover;
					height: 150px;
					margin: 0;
					width: 100%;
					}
					#cdhb-partnerships .bannertext {
					padding: 1rem 2rem;
					width: 80%;
					}
					@media (min-width: 640px) {
					#cdhb-partnerships {
					background-image: url(./assets/images/index/cdhb-partnerships-large.jpg);
					background-position: 50% 50%;
					justify-content: flex-end;
					}
					#cdhb-partnerships .bannertext {
					width: 50%;
					}
					}
				.row.gutter-half.-flex
					.col.a-12.gutter-half.-flex
						a#cdhb-partnerships.no-underline.-flex.-ai-c(href='no/NO/content/conceptd-partnerships')
							.bannertext
								p.fs-2.text-secondary-dark.bold
									span#placeholder_714157.ghei_placeholder ConceptD-partnere innen skole og industri
								.fs-0.text-primary-orange
									span.ghei_appMessage(id='appMessage_Learn More') Mer
									|  >
	#chunk_746374.ghei_chunk
		div
		div
			.container.max-width-d.margin-top-m.margin-bottom-0
				style.
					#cdhb-adobe-offer {
					align-items: center;
					background-image: url(./assets/images/index/adobe-creative-cloud-offer-homebanner-gray2.jpg);
					background-position: 50% 60%;
					display: flex;
					height: 150px;
					margin: 0;
					width: 100%;
					}
					#cdhb-adobe-offer .bannertext {
					padding: 1rem 2rem;
					width: 100%;
					}
					@media (min-width: 640px) {
					#cdhb-adobe-offer .bannertext {
					width: calc(35.7142857143vw + 225.7142857143px); /* from 500px at 768px to 740px at 1440px */
					}
					}
				.row.gutter-half.flex-view
					.col.a-12.gutter-half.flex-view
						a#cdhb-adobe-offer.no-underline(href='no/NO/content/conceptd-offers-adobe-creative-cloud')
							.bannertext
								p.fs-2.text-secondary-dark.bold
									span#placeholder_620611.ghei_placeholder Gratis medlemskap i tre måneder i Adobe Creative Cloud
								.fs-0.text-primary-orange
									span.ghei_appMessage(id='appMessage_Learn More') Mer
									|  >
	#highlight-custom.newStyle
		.container.bg-white
			.container.max-width-d.margin-top-s.margin-bottom-s
				.row.gutter-half.flex-view
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/Brand_720.jpg', alt='Brand', title='Brand')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| Merke
									p.text-secondary-dark.align-left
										| Kreativt arbeid innebærer større krav til databehandling enn det vanlige, daglige dataoppgaver gjør. ConceptD dekker disse behovene.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/Design_720.jpg', alt='Design', title='Design')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| Design
									p.text-secondary-dark.align-left
										| Det minimalistiske designet til ConceptD handler om å presentere bare de viktigste elementene i et design, for eksempel kontrast, avstand, utforming og farge.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/Tech_720.jpg', alt='Tech', title='Tech')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| Teknisk
									p.text-secondary-dark.align-left
										| Teknologien bak stasjonære datamaskiner, bærbare PC-er og skjermer av typen ConceptD er utviklet for å gjøre det mulig for skapere å arbeide så effektivt som mulig.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
						.bg-cd-grayWhite
							.contSelect
								a.margin-top-0(href='#')
									figure.margin-0(style='position:relative')
										img.centerImage(src='./assets/images/index/Events_720.jpg', alt='Events', title='Events')
								.padding-m.padding-top-0.padding-bottom-s
									h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
										| Arrangementer
									p.text-secondary-dark.align-left
										| Bli med når ConceptD presenteres for kreative fagfolk i mange ulike bransjer over hele verden.
									p.align-left
										a.no-underline.link-orange(href='#')
											| Mer >
					.clearfix.hide-c-up
	#chunk_755233.ghei_chunk
		div
		div
			.container.max-width-d.margin-top-0.margin-bottom-m
				style.
					#cdhb-greenpackaging {
					align-items: center;
					background-image: url(./assets/images/index/greenpackaging-homebanner-small.jpg);
					background-position: 75% 50%;
					background-size: cover;
					display: flex;
					height: 150px;
					margin: 0;
					width: 100%;
					}
					#cdhb-greenpackaging .bannertext {
					padding: 1rem 2rem;
					width: 80%;
					}
					@media (min-width: 640px) {
					#cdhb-greenpackaging {
					background-image: url(./assets/images/index/greenpackaging-homebanner-large.jpg);
					background-position: 13% 50%;
					justify-content: flex-end;
					}
					#cdhb-greenpackaging .bannertext {
					width: 50%;
					}
					}
				.row.gutter-half.flex-view
					.col.a-12.gutter-half.flex-view
						a#cdhb-greenpackaging.no-underline(href='no/NO/content/conceptd-green-packaging')
							.bannertext
								p.fs-2.text-secondary-dark.bold
									span#placeholder_623188.ghei_placeholder Grønn emballasje
								.fs-0.text-primary-orange
									span.ghei_appMessage(id='appMessage_Learn More') Mer
									|  >
