#chunk_676081.ghei_chunk
	div
	div
		.newStyle
			style.
				#herobanner {
				align-items: center;
				background-color: #000;
				display: flex;
				height: 70vh;
				overflow: hidden;
				position: relative;
				}
				#herobanner video {
				height: 100%;
				left: 50%;
				min-height: 100%;
				min-width: 100%;
				object-fit: cover;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: auto;
				z-index: 0;
				}
				#herobanner-content {
				color: #dc582a;
				margin: 0 auto;
				position: relative;
				width: 100%;
				z-index: 2;
				}
				#herobanner-content h1 {
				letter-spacing: 0.2em;
				}
			.container.bg-white
				#herobanner.container.max-width-f
					video(autoplay='', loop='', muted='', playsinline='', __idm_id__='335387649')
						source(src='./assets/videos/decoded-herovideo-2.mp4', type='video/mp4')
					div(style='background-color: rgba(0,0,0,.1); height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1')
					#herobanner-content.container.max-width-d
						.row.gutter
							.col.gutter.a-12.b-10.b-offset-1
								h1.fs-6.bold.align-center.uppercase
									span#placeholder_602487.ghei_placeholder Creativity Decoded
								div(style='text-align: center; width: 100%;')
									a.button.emptyOrange(href='#')
										span#appMessage_Explore.ghei_appMessage Utforsk