#highlight-custom.newStyle
	.container.bg-white
		.container.max-width-d.margin-top-s.margin-bottom-0
			.row.gutter-half.flex-view
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/homepage-banner-2d.jpg', alt='ConceptD Homepage Banner - 2D Creators', title='ConceptD Homepage Banner - 2D Creators')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| 2D
								p.text-secondary-dark.align-left
									| ConceptD gir skapere av kreativt 2D-innhold muligheten til å realisere sitt fulle potensial og gjør dem i stand til å skape sine egne unike historier.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/homepage-banner-3d.jpg', alt='ConceptD Homepage Banner - 3D Creators', title='ConceptD Homepage Banner - 3D Creators')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| 3D
								p.text-secondary-dark.align-left
									| Med ConceptD kan 3D-designere sprenge grenser når de skal sette ideene sine ut i livet, uansett hvor intensiv oppgaven er.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/homepage-banner-developers.jpg', alt='ConceptD Homepage Banner - Developers', title='ConceptD Homepage Banner - Developers')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| Utviklere
								p.text-secondary-dark.align-left
									| Med moderne teknologier som kunstig intelligens oppstår unike utfordringer som må håndteres. Oppdag ConceptD-verktøyene, som gir flere muligheter for alle typer utviklere.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/ISV_homepage_banner.jpg', alt='ISV_homepage_banner', title='ISV_homepage_banner')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| ISV
								p.text-secondary-dark.align-left
									| Acer investerer i testing, kontroll og partnersamarbeid for å sikre at ConceptD-produkter fungerer pålitelig med profesjonelle programmer fra verdensledende ISV-er (Independent Software Vendor, uavhengig programvareleverandør).
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up