#chunk_843519.ghei_chunk(style="margin-top: 10px")
	div
	div
		.container.bg-white
			.container.max-width-d
				.row.padding-left-xs.padding-right-xs.-flex
					// 2D Creators
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='2d-creators.html')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20191024/homepage-banner-2d.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714950.ghei_placeholder 2D Creators
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714951.ghei_placeholder
										| ConceptD gives 2D creatives the ability to realize their full potential and enable them to start creating their own unique stories.
								p.align-left
									a.no-underline.link-orange(href='2d-creators.html')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// 3D Creators
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='3d-creators.html')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20191024/homepage-banner-3d.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714952.ghei_placeholder 3D Creators
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714953.ghei_placeholder
										| No matter how intensive the task, ConceptD allows 3D designers to go beyond their limits and bring their ideas to life.
								p.align-left
									a.no-underline.link-orange(href='3d-creators.html')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// Developers
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='developers.html')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20191024/homepage-banner-developers.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714954.ghei_placeholder Developers
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714955.ghei_placeholder
										| Modern technologies such as AI present unique challenges which need answers. Discover the tools ConceptD brings to the table to better empower all types of developers.
								p.align-left
									a.no-underline.link-orange(href='developers.html')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// ISV
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='isv.html')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/ISV/20200225/ISV_homepage_banner.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714956.ghei_placeholder ISV
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714957.ghei_placeholder
										| Acer tests and verifies that ConceptD products work reliably with professional applications from world leading ISVs (Independent Software Vendors).
								p.align-left
									a.no-underline.link-orange(href='isv.html')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// next banner...
#chunk_841650.ghei_chunk
	div
	div
		.container.bg-white
			style.
				#cdhb-partnerships {
				background-image: url(//static.acer.com/up/Resource/Acer/conceptD/school_and_industry_partnerships/20200706/partnerships-homebanner-small.jpg);
				background-position: 65% 50%;
				background-size: cover;
				height: 150px;
				margin: 0;
				width: 100%;
				}
				#cdhb-partnerships .cdh-paddedblock {
				width: 80%;
				}
				@media (min-width: 640px) {
				#cdhb-partnerships {
				background-image: url(//static.acer.com/up/Resource/Acer/conceptD/school_and_industry_partnerships/20200706/partnerships-homebanner-large.jpg);
				background-position: 50% 50%;
				justify-content: flex-end;
				}
				#cdhb-partnerships .cdh-paddedblock {
				width: 50%;
				}
				}
			.container.max-width-d
				.row.padding-left-xs.padding-right-xs.-flex
					.col.a-12.padding-xs.-flex
						a#cdhb-partnerships.no-underline.-flex.-ai-c(href='vi/VN/content/conceptd-partnerships')
							.cdh-paddedblock
								p.fs-2.text-secondary-dark.bold
									span#placeholder_714157.ghei_placeholder School & Industry Partnerships
								p.fs-0.text-primary-orange
									span.ghei_appMessage(id='appMessage_Learn More') Learn more
									|  ›
