#conceptd_500_cp7.newStyle
	.container.bg-white
		.container.max-width-d.margin-top-s.margin-bottom-s
			.row.gutter-half.flex-view
				.col.a-12.b-6.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/ConceptD_500_720x400.jpg', alt='ConceptD_500_Large', title='ConceptD_500_Large')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
									| ConceptD 500
								p.text-secondary-dark.align-left
									| Den attraktive og stilige ConceptD 500 har den nyeste Intel
									sup ®
									|  Core™ i9-CPU-en og en NVIDIA
									sup ®
									|  Quadro RTX™ 4000 for å levere pålitelig databehandling for komplekse kreative prosjekter.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/ConceptD_CP7271K-P_720x400.jpg', alt='ConceptD_CP7271K-P_Large', title='ConceptD_CP7271K-P_Large')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
									| ConceptD CP7
								p.text-secondary-dark.align-left
									| Den første skreddersydde 4K-skjermen for CG-skapere med stor fargenøyaktighet, omfattende fargeskala og høy oppdateringshastighet
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up