.ghei_chunk
	div
	div
		.container.bg-white
			style.
				#cdhb-partnerships {
					background-image: url(../assets/images/index/partnerships-homebanner-small.jpg);
					background-position: 65% 50%;
					background-size: cover;
					height: 150px;
					margin: 0;
					width: 100%;
				}
				#cdhb-partnerships .cdh-paddedblock {
					width: 80%;
				}
				@media (min-width: 640px) {
					#cdhb-partnerships {
						background-image: url(../assets/images/index/partnerships-homebanner-large.jpg);
						background-position: 50% 50%;
						justify-content: flex-end;
					}
					#cdhb-partnerships .cdh-paddedblock {
						width: 50%;
					}
				}
			.container.max-width-d
				.row.padding-left-xs.padding-right-xs.-flex
					.col.a-12.padding-xs.-flex
						a#cdhb-partnerships.no-underline.-flex.-ai-c(href='#')
							.cdh-paddedblock
								p.fs-2.text-secondary-dark.bold
									span#placeholder_714157.ghei_placeholder School & Industry Partnerships
								p.fs-0.text-primary-orange
									span.ghei_appMessage(id='appMessage_Learn More') Learn more
									|  ›