#chunk_843638.ghei_chunk
	div
	div
		.container.bg-white
			.container.max-width-d
				.row.padding-left-xs.padding-right-xs.-flex
					// ConceptD 500
					.col.padding-xs.a-12.b-6.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-series/conceptd500')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Secondary_Banner/20190410/ConceptD_500_720x400.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714958.ghei_placeholder ConceptD 500
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714959.ghei_placeholder
										| The attractive and stylish ConceptD 500 has the latest Intel
										sup ®
										|  Core™ i9 CPU and an NVIDIA
										sup ®
										|  Quadro RTX™ 4000 to deliver reliable computing for complex creative projects.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-series/conceptd500')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// ConceptD CP7
					.col.padding-xs.a-12.b-6.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-series/conceptdcp7')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Secondary_Banner/20190410/ConceptD_CP7271K-P_720x400.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714960.ghei_placeholder ConceptD CP7
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714961.ghei_placeholder
										| First tailor-made 4K monitor for CG creators with precise color accuracy, wide color gamut, and high refresh rate.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-series/conceptdcp7')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// ConceptD 9 Pro
					.col.padding-xs.a-12.b-6.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-series/conceptd9pro')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Secondary_Banner/20190828/ConceptD-9-Pro_720x400.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714962.ghei_placeholder ConceptD 9 Pro
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714963.ghei_placeholder
										| Delivering the ultimate creative power, the ConceptD 9 Pro is the ideal laptop for demanding 3D work. The 4K UHD display brings professional precision and color accuracy.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-series/conceptd9pro')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// ConceptD 7
					.col.padding-xs.a-12.b-6.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-series/conceptd7')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190410/ConceptD_7_720x400.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714964.ghei_placeholder ConceptD 7
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714965.ghei_placeholder
										| Create with improved speed and efficiency with the slim, ultra-modern ConceptD 7 laptop.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-series/conceptd7')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// next banner...
