#conceptd_cd9_7.newStyle
	.container.bg-white
		.container.max-width-d.margin-top-0.margin-bottom-0
			.row.gutter-half.flex-view
				.col.a-12.b-6.gutter-half.flex-view.margin-top-0.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/ConceptD-9-Pro_720x400.jpg', alt='ConceptD 9 Pro', title='ConceptD 9 Pro')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
									| ConceptD 9 Pro
								p.text-secondary-dark.align-left
									| ConceptD 9 Pro har all kraften som trengs for kreative oppgaver og er den ideelle bærbare PC-en for krevende 3D-arbeid. 4K UHD-skjermen gir profesjonell presisjon og fargenøyaktighet.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.gutter-half.flex-view.margin-top-0.margin-bottom-0
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/ConceptD_7_720x400.jpg', alt='ConceptD_7_Large', title='ConceptD_7_Large')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-secondary-dark.bold.margin-top-m.margin-bottom-s.align-left
									| ConceptD 7
								p.text-secondary-dark.align-left
									| Jobb med forbedret hastighet og effektivitet med den slanke, topp moderne bærbare PC-en ConceptD 7.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up