#chunk_841613.ghei_chunk
	div
	div
		.container.max-width-d.margin-top-m.margin-bottom-0
			style.
				#cdhb-partnerships {
				background-image: url(./assets/images/index/cdhb-partnerships-small.jpg);
				background-position: 65% 50%;
				background-size: cover;
				height: 150px;
				margin: 0;
				width: 100%;
				}
				#cdhb-partnerships .bannertext {
				padding: 1rem 2rem;
				width: 80%;
				}
				@media (min-width: 640px) {
				#cdhb-partnerships {
				background-image: url(./assets/images/index/cdhb-partnerships-large.jpg);
				background-position: 50% 50%;
				justify-content: flex-end;
				}
				#cdhb-partnerships .bannertext {
				width: 50%;
				}
				}
			.row.gutter-half.-flex
				.col.a-12.gutter-half.-flex
					a#cdhb-partnerships.no-underline.-flex.-ai-c(href='#')
						.bannertext
							p.fs-2.text-secondary-dark.bold
								span#placeholder_714157.ghei_placeholder ConceptD-partnere innen skole og industri
							.fs-0.text-primary-orange
								span.ghei_appMessage(id='appMessage_Learn More') Mer
								|  >