.ghei_chunk
	div
	div
		.container.max-width-d.margin-top-m.margin-bottom-0
			style.
				#cdhb-adobe-offer {
				align-items: center;
				background-image: url(./assets/images/index/adobe-creative-cloud-offer-homebanner-gray2.jpg);
				background-position: 50% 60%;
				display: flex;
				height: 150px;
				margin: 0;
				width: 100%;
				}
				#cdhb-adobe-offer .bannertext {
				padding: 1rem 2rem;
				width: 100%;
				}
				@media (min-width: 640px) {
				#cdhb-adobe-offer .bannertext {
				width: calc(35.7142857143vw + 225.7142857143px); /* from 500px at 768px to 740px at 1440px */
				}
				}
			.row.gutter-half.flex-view
				.col.a-12.gutter-half.flex-view
					a#cdhb-adobe-offer.no-underline(href='#')
						.bannertext
							p.fs-2.text-secondary-dark.bold
								span#placeholder_620611.ghei_placeholder Gratis medlemskap i tre måneder i Adobe Creative Cloud
							.fs-0.text-primary-orange
								span.ghei_appMessage(id='appMessage_Learn More') Mer
								|  >
