#chunk_843753.ghei_chunk
	div
	div
		.container.bg-white
			.container.max-width-d
				.row.padding-left-xs.padding-right-xs.-flex
					// Brand
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-brand-story')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Brand_720.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714966.ghei_placeholder Brand
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714967.ghei_placeholder
										| Creatives in all fields have specific computing requirements which go beyond those of everyday computing. ConceptD meets those needs.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-brand-story')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// Design
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-brand-design')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Design_720.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714968.ghei_placeholder Design
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714969.ghei_placeholder
										| ConceptDs minimalist design is about presenting only the most essential elements of a design such as: contrast, spacing, layout, and color.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-brand-design')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// Tech
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-brand-tech')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Tech_720.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714970.ghei_placeholder Tech
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714971.ghei_placeholder
										| The technology behind ConceptD desktops, laptops and monitors is engineered to allow creators to be able to work as efficiently as possible.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-brand-tech')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// Events
					.col.padding-xs.a-12.b-6.c-3.-flex
						.cdh-contentblock
							a.margin-0(href='vi/VN/content/conceptd-brand-events')
								img.centerImage(src='//static.acer.com/up/Resource/Acer/conceptD/Homepage/Tertiary_Banner/20190827/Events_720.jpg')
							.cdh-paddedblock
								h3.fs-2.text-primary-dark.margin-bottom-s.align-left
									span#placeholder_714972.ghei_placeholder Events
								p.fs-0.text-secondary-dark.align-left
									span#placeholder_714973.ghei_placeholder
										| Join ConceptD around the world as it’s presented to creatives from all different industries.
								p.align-left
									a.no-underline.link-orange(href='vi/VN/content/conceptd-brand-events')
										span.ghei_appMessage(id='appMessage_Learn More') Learn more
										|  ›
					// next banner...