#highlight-custom.newStyle
	.container.bg-white
		.container.max-width-d.margin-top-s.margin-bottom-s
			.row.gutter-half.flex-view
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='brand-story.html')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/Brand_720.jpg', alt='Brand', title='Brand')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| Brand
								p.text-secondary-dark.align-left
									| Kreativt arbeid innebærer større krav til databehandling enn det vanlige, daglige dataoppgaver gjør. ConceptD dekker disse behovene.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='brand-design.html')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/Design_720.jpg', alt='Design', title='Design')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| Design
								p.text-secondary-dark.align-left
									| Det minimalistiske designet til ConceptD handler om å presentere bare de viktigste elementene i et design, for eksempel kontrast, avstand, utforming og farge.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/Tech_720.jpg', alt='Tech', title='Tech')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| Teknisk
								p.text-secondary-dark.align-left
									| Teknologien bak stasjonære datamaskiner, bærbare PC-er og skjermer av typen ConceptD er utviklet for å gjøre det mulig for skapere å arbeide så effektivt som mulig.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.col.a-12.b-6.c-3.gutter-half.flex-view.margin-top-s.margin-bottom-s
					.bg-cd-grayWhite
						.contSelect
							a.margin-top-0(href='#')
								figure.margin-0(style='position:relative')
									img.centerImage(src='./assets/images/index/Events_720.jpg', alt='Events', title='Events')
							.padding-m.padding-top-0.padding-bottom-s
								h3.heading-s.text-primary-dark.margin-top-m.margin-bottom-s.align-left
									| Arrangementer
								p.text-secondary-dark.align-left
									| Bli med når ConceptD presenteres for kreative fagfolk i mange ulike bransjer over hele verden.
								p.align-left
									a.no-underline.link-orange(href='#')
										| Mer >
				.clearfix.hide-c-up